<section class="ct_py_70">
      <div class="container">
            <div class="row">
                  <div class="col-md-8 mx-auto">
                        <div class="ct_edit_profile_bg">
                              <form action="">
                                    <div class="form-group mb-4">
                                          <label for="" class="mb-2 ct_fw_600 ">{{'FullName' | translate}}</label>
                                          <input type="text" class="form-control ct_input"
                                                placeholder="{{'Enter' | translate}} {{'FullName' | translate | lowercase}}">
                                    </div>
                                    <div class="form-group mb-4">
                                          <label for="" class="mb-2 ct_fw_600 ">{{'EmailAddress' | translate}}</label>
                                          <input type="email" class="form-control ct_input"
                                                placeholder="{{'Enter' | translate}} {{'EmailAddress' | translate | lowercase}}">
                                    </div>
                                    <div class="form-group mb-4">
                                          <label for="" class="mb-2 ct_fw_600 ">{{'PhoneNumber' | translate}}</label>
                                          <input type="text" class="form-control ct_input"
                                                placeholder="{{'Enter' | translate}} {{'PhoneNumber' | translate | lowercase}}">
                                    </div>
                                    <div class="form-group mb-4">
                                          <label for="" class="mb-2 ct_fw_600 ">{{'Address' | translate}}</label>
                                          <textarea class="form-control ct_input h-auto" rows="4"
                                                placeholder="{{'Enter' | translate}} {{'Address' | translate | lowercase}}"></textarea>
                                    </div>

                                    <div class="text-center mt-4">
                                          <app-submit-button [text]="'Submit' | translate" [class]="'ct_red_btn'" [isLoading]="loading"></app-submit-button>
                                    </div>
                              </form>
                        </div>
                  </div>
            </div>
      </div>
</section>