<section class="ct_py_70">
      <div class="container">
            <div class="row">
                  <div class="col-md-8 mx-auto">
                        <div class="ct_rejected_icon">
                              <img src="img/approved.gif" alt="">
                              <div>
                                    <h4 class="ct_fs_24 ct_fw_600 mb-2 text-center">Application Approved</h4>
                                    <p class="mb-0 ct_text_op_6 text-center">Request approved. Review the offer and
                                          confirm to proceed.</p>
                              </div>
                        </div>

                        <div class="mt-4 ct_outline_bg ">
                              <ul class="ct_plan_detail_list">
                                    <li>
                                          <p class="mb-0">Number of Additional Slots</p>
                                          <p class="mb-0 ct_fw_600">32</p>
                                    </li>
                                    <li>
                                          <p class="mb-0">Status</p>
                                          <p class="mb-0 ct_fw_600 ct_green_text">Approved</p>
                                    </li>
                                    <li>
                                          <p class="mb-0">Offered Price</p>
                                          <p class="mb-0 ct_fw_600 ct_text_red">CHF 1'200.–</p>
                                    </li>
                              </ul>
                        </div>

                        <div class="ct_light_red_bg mt-4 d-flex align-items-start gap-2">
                              <img src="img/info_icon.png" alt="" width="20px" style="margin-top: 4px;">
                              <p class="mb-0">Please review and accept or decline this offer. Once accepted, the slot
                                    package will be activated in your account.</p>
                        </div>
                  </div>
            </div>
      </div>
</section>