 .ct_collapse_main i {
   transition: transform 0.3s ease;
 }

 .ct_collapse_main.collapsed i {
   transform: rotate(0deg);
 }

 .ct_collapse_main i {
   transform: rotate(180deg);
 }

 .cutom_radio_input {
   height: 18px;
   width: 18px;
   accent-color: var(--red);
 }

 ::ng-deep body {
   overflow: unset;
 }

 ::ng-deep .modal-open {
   padding: 0px !important;
 }

 .ct_filter_bg {
   background-color: #f2f2f2;
   height: 100vh;
   padding: 40px 15px;
   border-radius: 15px;
   position: sticky;
   top: 0px;
   overflow-y: auto;
 }

 .ct_brand_icon {
   width: 60px;
   height: 60px;
   border-radius: 10px;
   background-color: #f2f2f2;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 8px;
   cursor: pointer;
 }

 .ct_brand_icon img {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 .ct_brand_icon_active {
   background-color: #ffccd1;
 }