<!-- <section class="">
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <h2 class="ct_fs_44 text-white ct_fw_700 ct_ff_Epilogue text-center">Browse Cars</h2>
                        <ul class="ct_breadcrumb">
                              <li>
                                    <a routerLink="/" class="ct_text_red ct_fw_600">Home</a>
                              </li>
                              <li class="">
                                    <i class="fa-solid fa-angles-right "></i>
                              </li>
                              <li class="">
                                    Browse Cars
                              </li>
                        </ul>
                  </div>
            </div>
      </div>
</section> -->


<section class="ct_py_70">
      <div class="container">
            <div class="row">
                  <div class="col-lg-12 mx-auto">
                        <div class="d-lg-none d-block">
                              <div class="d-flex align-items-center gap-3 justify-content-end">
                                    <div class="ct_search">
                                          <input type="search" class="form-control ct_input" placeholder="Search">

                                    </div>
                                    <div>
                                          <button class="mb-0 ct_fw_600 ct_filter_btn" data-bs-toggle="modal"
                                                data-bs-target="#ct_filter_modal"><i class="fa-solid fa-filter"></i>
                                                Filter</button>
                                    </div>
                              </div>
                        </div>
                        <div class="row">
                              <div class="col-lg-3 mb-4">
                                    <div class="ct_filter_bg d-lg-block d-none">
                                          <h4 class="ct_fs_20 ct_fw_700 mb-4">Filter</h4>
                                          <form action="">
                                                <div class="form-group mb-3">
                                                      <label for="" class="mb-2 ct_fw_600">Location</label>
                                                      <input type="text" class="form-control ct_input"
                                                            placeholder="Enter Location">

                                                </div>
                                                <div class="form-group mb-3">
                                                      <label for="" class="mb-2 ct_fw_600">Type Of Cars</label>
                                                      <select class="form-control ct_input">
                                                            <option value="">Ferrari</option>
                                                            <option value="">Tesla</option>
                                                            <option value="">BMW</option>

                                                      </select>

                                                </div>
                                                <div class="form-group mb-3">
                                                      <label for="" class="mb-2 ct_fw_600">Color</label>
                                                      <select class="form-control ct_input">
                                                            <option value="">Red</option>
                                                            <option value="">Blue</option>
                                                            <option value="">Green</option>

                                                      </select>

                                                </div>
                                                <div class="form-group mb-3">
                                                      <label for="" class="mb-2 ct_fw_600">Condition</label>
                                                      <ul>
                                                            <li>
                                                                  <div class="form-check ct_custom_check2 ct_collapse_main collapsed"
                                                                        data-bs-toggle="collapse"
                                                                        data-bs-target="#collapseExample"
                                                                        aria-expanded="false"
                                                                        aria-controls="collapseExample">
                                                                        <input class="form-check-input" type="checkbox"
                                                                              value="" id="flexCheckDefault"
                                                                              style="margin-top:2px;">
                                                                        <div
                                                                              class="d-flex align-items-center gap-1 justify-content-between">
                                                                              <label class="ms-1 ct_fw_600">New</label>
                                                                              <div
                                                                                    class="d-flex align-items-center gap-2">
                                                                                    <p class="mb-0 ct_fw_600">12</p>
                                                                                    <i
                                                                                          class="fa-solid fa-angle-down"></i>

                                                                              </div>
                                                                        </div>
                                                                        <div class="collapse" id="collapseExample">
                                                                              <div class="py-2 card-body">
                                                                                    <ul>
                                                                                          <li>
                                                                                                <div
                                                                                                      class="form-check ct_custom_check2">
                                                                                                      <input class="form-check-input"
                                                                                                            type="checkbox"
                                                                                                            value=""
                                                                                                            id="flexCheckDefault"
                                                                                                            style="margin-top:2px;">
                                                                                                      <div
                                                                                                            class="d-flex align-items-center gap-1 justify-content-between">
                                                                                                            <label
                                                                                                                  class="ms-1 ct_fw_600">New
                                                                                                                  Vehicle</label>
                                                                                                            <p
                                                                                                                  class="mb-0 ct_fw_600">
                                                                                                                  12</p>
                                                                                                      </div>
                                                                                                </div>
                                                                                          </li>
                                                                                          <li>
                                                                                                <div
                                                                                                      class="form-check ct_custom_check2">
                                                                                                      <input class="form-check-input"
                                                                                                            type="checkbox"
                                                                                                            value=""
                                                                                                            id="flexCheckDefault"
                                                                                                            style="margin-top:2px;">
                                                                                                      <div
                                                                                                            class="d-flex align-items-center gap-1 justify-content-between">
                                                                                                            <label
                                                                                                                  class="ms-1 ct_fw_600">Demonstration
                                                                                                                  Modal</label>
                                                                                                            <p
                                                                                                                  class="mb-0 ct_fw_600">
                                                                                                                  12</p>
                                                                                                      </div>
                                                                                                </div>
                                                                                          </li>
                                                                                          <li>
                                                                                                <div
                                                                                                      class="form-check ct_custom_check2">
                                                                                                      <input class="form-check-input"
                                                                                                            type="checkbox"
                                                                                                            value=""
                                                                                                            id="flexCheckDefault"
                                                                                                            style="margin-top:2px;">
                                                                                                      <div
                                                                                                            class="d-flex align-items-center gap-1 justify-content-between">
                                                                                                            <label
                                                                                                                  class="ms-1 ct_fw_600">New
                                                                                                                  Vehicle
                                                                                                                  With
                                                                                                                  Daily
                                                                                                                  Registration</label>
                                                                                                            <p
                                                                                                                  class="mb-0 ct_fw_600">
                                                                                                                  12</p>
                                                                                                      </div>
                                                                                                </div>
                                                                                          </li>
                                                                                    </ul>
                                                                              </div>
                                                                        </div>
                                                                  </div>
                                                            </li>
                                                            <li class="pt-0">
                                                                  <div class="form-check ct_custom_check2">
                                                                        <input class="form-check-input" type="checkbox"
                                                                              value="" id="flexCheckDefault"
                                                                              style="margin-top:2px;">
                                                                        <div
                                                                              class="d-flex align-items-center gap-1 justify-content-between">
                                                                              <label
                                                                                    class="ms-1 ct_fw_600">Occasion</label>
                                                                              <p class="mb-0 ct_fw_600">12</p>
                                                                        </div>
                                                                  </div>
                                                            </li>
                                                            <li class="pt-0">
                                                                  <div class="form-check ct_custom_check2">
                                                                        <input class="form-check-input" type="checkbox"
                                                                              value="" id="flexCheckDefault"
                                                                              style="margin-top:2px;">
                                                                        <div
                                                                              class="d-flex align-items-center gap-1 justify-content-between">
                                                                              <label class="ms-1 ct_fw_600">Classic
                                                                                    Car</label>
                                                                              <p class="mb-0 ct_fw_600">12</p>
                                                                        </div>
                                                                  </div>
                                                            </li>
                                                      </ul>

                                                </div>
                                                <div class="form-group mb-3">
                                                      <label for="" class="mb-2 ct_fw_600">MFK & Warranty</label>
                                                      <ul>
                                                            <li>
                                                                  <div class="form-check ct_custom_check2">
                                                                        <input class="form-check-input" type="checkbox"
                                                                              value="" id="flexCheckDefault"
                                                                              style="margin-top:2px;">
                                                                        <div
                                                                              class="d-flex align-items-center gap-1 justify-content-between">
                                                                              <label class="ms-1 ct_fw_600">Ab
                                                                                    MFK</label>
                                                                              <p class="mb-0 ct_fw_600">12</p>
                                                                        </div>
                                                                  </div>
                                                            </li>
                                                            <li>
                                                                  <div class="form-check ct_custom_check2">
                                                                        <input class="form-check-input" type="checkbox"
                                                                              value="" id="flexCheckDefault"
                                                                              style="margin-top:2px;">
                                                                        <div
                                                                              class="d-flex align-items-center gap-1 justify-content-between">
                                                                              <label class="ms-1 ct_fw_600">With
                                                                                    Warranty</label>
                                                                              <p class="mb-0 ct_fw_600">12</p>
                                                                        </div>
                                                                  </div>
                                                            </li>
                                                      </ul>

                                                </div>
                                                <div class="form-group mb-3">
                                                      <label for="" class="mb-2 ct_fw_600">Accident Vehicle</label>
                                                      <ul>
                                                            <li>
                                                                  <div class="form-check ct_custom_check2">
                                                                        <input class="form-check-input" type="checkbox"
                                                                              value="" id="flexCheckDefault"
                                                                              style="margin-top:2px;">
                                                                        <div
                                                                              class="d-flex align-items-center gap-1 justify-content-between">
                                                                              <label class="ms-1 ct_fw_600">Accident
                                                                                    Vehicle</label>
                                                                              <p class="mb-0 ct_fw_600">12</p>
                                                                        </div>
                                                                  </div>
                                                            </li>
                                                            <li>
                                                                  <div class="form-check ct_custom_check2">
                                                                        <input class="form-check-input" type="checkbox"
                                                                              value="" id="flexCheckDefault"
                                                                              style="margin-top:2px;">
                                                                        <div
                                                                              class="d-flex align-items-center gap-1 justify-content-between">
                                                                              <label class="ms-1 ct_fw_600">Not an
                                                                                    Accident Vehicle</label>
                                                                              <p class="mb-0 ct_fw_600">12</p>
                                                                        </div>
                                                                  </div>
                                                            </li>
                                                      </ul>

                                                </div>
                                                <div class="form-group mb-3">
                                                      <label for="" class="mb-2 ct_fw_600">Body Type</label>
                                                      <ul>
                                                            <li>
                                                                  <div class="form-check ct_custom_check2">
                                                                        <input class="form-check-input" type="checkbox"
                                                                              value="" id="flexCheckDefault"
                                                                              style="margin-top:2px;">
                                                                        <div
                                                                              class="d-flex align-items-center gap-1 justify-content-between">
                                                                              <label class="ms-1 ct_fw_600">Station
                                                                                    Wagon</label>
                                                                              <p class="mb-0 ct_fw_600">12</p>
                                                                        </div>
                                                                  </div>
                                                            </li>
                                                            <li>
                                                                  <div class="form-check ct_custom_check2">
                                                                        <input class="form-check-input" type="checkbox"
                                                                              value="" id="flexCheckDefault"
                                                                              style="margin-top:2px;">
                                                                        <div
                                                                              class="d-flex align-items-center gap-1 justify-content-between">
                                                                              <label
                                                                                    class="ms-1 ct_fw_600">Cabriolet</label>
                                                                              <p class="mb-0 ct_fw_600">12</p>
                                                                        </div>
                                                                  </div>
                                                            </li>
                                                            <li>
                                                                  <div class="form-check ct_custom_check2">
                                                                        <input class="form-check-input" type="checkbox"
                                                                              value="" id="flexCheckDefault"
                                                                              style="margin-top:2px;">
                                                                        <div
                                                                              class="d-flex align-items-center gap-1 justify-content-between">
                                                                              <label class="ms-1 ct_fw_600">Pick
                                                                                    Up</label>
                                                                              <p class="mb-0 ct_fw_600">12</p>
                                                                        </div>
                                                                  </div>
                                                            </li>
                                                            <li>
                                                                  <div class="form-check ct_custom_check2">
                                                                        <input class="form-check-input" type="checkbox"
                                                                              value="" id="flexCheckDefault"
                                                                              style="margin-top:2px;">
                                                                        <div
                                                                              class="d-flex align-items-center gap-1 justify-content-between">
                                                                              <label class="ms-1 ct_fw_600">SUV/Off-Road
                                                                                    Vehicle</label>
                                                                              <p class="mb-0 ct_fw_600">12</p>
                                                                        </div>
                                                                  </div>
                                                            </li>
                                                            <li>
                                                                  <div class="form-check ct_custom_check2">
                                                                        <input class="form-check-input" type="checkbox"
                                                                              value="" id="flexCheckDefault"
                                                                              style="margin-top:2px;">
                                                                        <div
                                                                              class="d-flex align-items-center gap-1 justify-content-between">
                                                                              <label
                                                                                    class="ms-1 ct_fw_600">Coupe</label>
                                                                              <p class="mb-0 ct_fw_600">12</p>
                                                                        </div>
                                                                  </div>
                                                            </li>
                                                            <li>
                                                                  <div class="form-check ct_custom_check2">
                                                                        <input class="form-check-input" type="checkbox"
                                                                              value="" id="flexCheckDefault"
                                                                              style="margin-top:2px;">
                                                                        <div
                                                                              class="d-flex align-items-center gap-1 justify-content-between">
                                                                              <label class="ms-1 ct_fw_600">Compact Mini
                                                                                    Van</label>
                                                                              <p class="mb-0 ct_fw_600">12</p>
                                                                        </div>
                                                                  </div>
                                                            </li>
                                                            <li>
                                                                  <div class="form-check ct_custom_check2">
                                                                        <input class="form-check-input" type="checkbox"
                                                                              value="" id="flexCheckDefault"
                                                                              style="margin-top:2px;">
                                                                        <div
                                                                              class="d-flex align-items-center gap-1 justify-content-between">
                                                                              <label
                                                                                    class="ms-1 ct_fw_600">Sedan</label>
                                                                              <p class="mb-0 ct_fw_600">12</p>
                                                                        </div>
                                                                  </div>
                                                            </li>
                                                            <li>
                                                                  <div class="form-check ct_custom_check2">
                                                                        <input class="form-check-input" type="checkbox"
                                                                              value="" id="flexCheckDefault"
                                                                              style="margin-top:2px;">
                                                                        <div
                                                                              class="d-flex align-items-center gap-1 justify-content-between">
                                                                              <label class="ms-1 ct_fw_600">Small
                                                                                    Car</label>
                                                                              <p class="mb-0 ct_fw_600">12</p>
                                                                        </div>
                                                                  </div>
                                                            </li>
                                                            <li>
                                                                  <div class="form-check ct_custom_check2">
                                                                        <input class="form-check-input" type="checkbox"
                                                                              value="" id="flexCheckDefault"
                                                                              style="margin-top:2px;">
                                                                        <div
                                                                              class="d-flex align-items-center gap-1 justify-content-between">
                                                                              <label class="ms-1 ct_fw_600">Bus</label>
                                                                              <p class="mb-0 ct_fw_600">12</p>
                                                                        </div>
                                                                  </div>
                                                            </li>
                                                      </ul>

                                                </div>

                                                <div class="form-group mb-3">
                                                      <label for="" class="mb-2 ct_fw_600">Sitting Capacity</label>
                                                      <select class="form-control ct_input">
                                                            <option value="">4</option>
                                                            <option value="">2</option>
                                                            <option value="">6</option>
                                                            <option value="">8</option>
                                                            <option value="">10</option>

                                                      </select>

                                                </div>
                                                <div class="form-group mb-3">
                                                      <label for="" class="mb-2 ct_fw_600">Fuel Type</label>
                                                      <select class="form-control ct_input">
                                                            <option value="">Electric</option>
                                                            <option value="">Petrol</option>
                                                            <option value="">Diesel</option>
                                                            <option value="">Hybrid</option>

                                                      </select>

                                                </div>
                                                <div class="form-group mb-3">
                                                      <label for="" class="mb-2 ct_fw_600">Seller Type</label>
                                                      <select class="form-control ct_input">
                                                            <option value="">All</option>
                                                            <option value="">Private</option>
                                                            <option value="">Official</option>

                                                      </select>
                                                </div>
                                                <div class="form-group mb-3">
                                                      <label for="" class="mb-2 ct_fw_600">Price Range</label>
                                                      <input type="range" class="form-control ct_input"
                                                            placeholder="Enter Location">
                                                </div>

                                                <div class="">
                                                      <button class="ct_red_btn w-100 ct_flex_1 mb-3">Apply</button>
                                                      <button class="ct_red_btn ct_outline_btn w-100 ct_flex_1">Clear
                                                            All</button>
                                                </div>
                                          </form>

                                    </div>
                              </div>
                              <div class="col-lg-9 mb-4">
                                    <div class="row">
                                          @for (item of carsList; track $index) {
                                          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 mb-4">
                                                <div class="ct_browse_car_card">
                                                      <figure class="mb-0">
                                                            <div class="ct_browse_card_img">
                                                                  <img [src]="item.carImages[0] || 'img/placeHolder.webp'"
                                                                        alt="">
                                                                  <i class="fa-regular fa-heart"></i>
                                                            </div>
                                                            <figcaption class="mt-3">
                                                                  <div
                                                                        class="d-flex align-items-center justify-content-between mb-2">
                                                                        <span
                                                                              class="ct_fs_16 ct_fw_700 mb-0 ct_text_red">{{item.totalPrice | currency: 'CHF '}}</span>
                                                                        <small class="ct_fs_14 ct_text_op_6">/ Leasing
                                                                              ab 499-. CHF</small>
                                                                  </div>
                                                                  <a routerLink="/car-detail"
                                                                        class="ct_fs_20 ct_fw_700 d-block">{{item.brandName}}
                                                                        {{item.carModel}}</a>
                                                                  <ul>
                                                                        <li>
                                                                              <small
                                                                                    class="ct_text_op_6 ct_fw_600">Translation</small>
                                                                              <p class="mb-0 ct_fs_16 ct_fw_600">
                                                                                    {{item.transmission}}
                                                                              </p>
                                                                        </li>
                                                                        <li>
                                                                              <small class="ct_text_op_6 ct_fw_600">Fuel
                                                                                    Type</small>
                                                                              <p class="mb-0 ct_fs_16 ct_fw_600">
                                                                                    {{item.fuelType}}
                                                                              </p>
                                                                        </li>
                                                                        <li>
                                                                              <small
                                                                                    class="ct_text_op_6 ct_fw_600">Passenger</small>
                                                                              <p class="mb-0 ct_fs_16 ct_fw_600">
                                                                                    {{item.sittingCapacity}}
                                                                                    Person
                                                                              </p>
                                                                        </li>
                                                                  </ul>

                                                                  <div class="mt-4">
                                                                        <a routerLink="/car-detail"
                                                                              [queryParams]="{id: item.id}"
                                                                              class="ct_red_btn w-100 text-center">View
                                                                              More</a>
                                                                  </div>
                                                            </figcaption>

                                                      </figure>

                                                </div>
                                          </div>
                                          }
                                    </div>
                              </div>

                        </div>

                  </div>

            </div>
      </div>

</section>



<!-- Filter section Res Modal S -->
<!-- Modal -->
<div class="modal fade" id="ct_filter_modal" tabindex="-1" aria-labelledby="ct_filter_modalLabel" aria-hidden="true">
      <div class="modal-dialog">
            <div class="modal-content">
                  <div class="modal-header border-0">
                        <h1 class="modal-title ct_fs_20 ct_fW_600" id="ct_filter_modalLabel">Filter</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                        <form action="">
                              <div class="form-group mb-3">
                                    <label for="" class="mb-2 ct_fw_600">Location</label>
                                    <input type="text" class="form-control ct_input" placeholder="Enter Location">

                              </div>
                              <div class="form-group mb-3">
                                    <label for="" class="mb-2 ct_fw_600">Type Of Cars</label>
                                    <select class="form-control ct_input">
                                          <option value="">Ferrari</option>
                                          <option value="">Tesla</option>
                                          <option value="">BMW</option>

                                    </select>

                              </div>
                              <div class="form-group mb-3">
                                    <label for="" class="mb-2 ct_fw_600">Color</label>
                                    <select class="form-control ct_input">
                                          <option value="">Red</option>
                                          <option value="">Blue</option>
                                          <option value="">Green</option>

                                    </select>

                              </div>
                              <div class="form-group mb-3">
                                    <label for="" class="mb-2 ct_fw_600">Sitting Capacity</label>
                                    <select class="form-control ct_input">
                                          <option value="">4</option>
                                          <option value="">2</option>
                                          <option value="">6</option>
                                          <option value="">8</option>
                                          <option value="">10</option>

                                    </select>

                              </div>
                              <div class="form-group mb-3">
                                    <label for="" class="mb-2 ct_fw_600">Fuel Type</label>
                                    <select class="form-control ct_input">
                                          <option value="">Electric</option>
                                          <option value="">Petrol</option>
                                          <option value="">Diesel</option>
                                          <option value="">Hybrid</option>

                                    </select>

                              </div>
                              <div class="form-group mb-3">
                                    <label for="" class="mb-2 ct_fw_600">Price Range</label>
                                    <input type="range" class="form-control ct_input" placeholder="Enter Location">

                              </div>

                              <div class="d-flex align-items-center gap-2">
                                    <button class="ct_red_btn ct_outline_btn w-100">Clear All</button>
                                    <button class="ct_red_btn w-100">Apply</button>
                              </div>
                        </form>
                  </div>

            </div>
      </div>
</div>
<!-- Filter section Res Modal E -->