<section class="ct_py_70">
      <div class="container">
            <div class="row">
                  <div class="col-lg-8 mb-4 mb-lg-0">
                        <div class="ct_gallery p-0">
                              <div class="ct_gallery_left">
                                    <img src="img/car_11.jpg" alt="Main">
                              </div>
                              <div class="ct_gallery_right">
                                    <img src="img/car_11.jpg" alt="Bathroom">
                                    <img src="img/car_11.jpg" alt="Kitchen">
                                    <img src="img/car_11.jpg" alt="Bed">
                                    <img src="img/car_11.jpg" alt="Couch">
                                    <button class="ct_show_all_images_btn" data-bs-toggle="modal"
                                          data-bs-target="#ct_show_all_photos">
                                          <i class="fa-regular fa-image me-1"></i>
                                          Show all
                                          Photos
                                    </button>
                              </div>
                        </div>

                  </div>
                  <div class="col-lg-4 mb-4 mb-lg-0">
                        <div class="ct_car_info_title">
                              <div class="d-flex align-items-center justify-content-between gap-3 flex-wrap">
                                    <h4 class="ct_fs_24 ct_fw_600 mb-3">Nissan Kicks 2022</h4>
                                    <ng-container *appRole="'buyer'">
                                          <i class="fa-regular fa-heart ct_text_red"></i>
                                    </ng-container>
                              </div>
                              <h3 class="ct_fs_20 ct_text_red ct_fw_700">CHF 17,990</h3>

                              <div class="ct_address_info mt-4">
                                    <ul>
                                          <li>
                                                <i class="fa-solid fa-location-dot"></i>
                                                <p class="mb-0">Dummy Address</p>
                                          </li>
                                          <li>
                                                <i class="fa-solid fa-clock"></i>
                                                <p class="mb-0">2 Month Ago</p>
                                          </li>
                                    </ul>
                              </div>

                              <div class="ct_note_box">
                                    <p class="mb-0 ">Payment should be discussed and arranged directly between buyer and
                                          seller.</p>
                              </div>

                              <div class="mt-5">
                                    <ng-container *appRole="'buyer'">
                                          <a routerLink="/chats" class="ct_red_btn w-100 text-center">Contact Seller</a>
                                    </ng-container>
                                    <ng-container *appRole="'seller'">
                                          <a routerLink="/edit-listing" class="ct_red_btn w-100 text-center">Edit
                                                Listing</a>
                                          <button class="ct_red_btn w-100 text-center ct_outline_btn mt-2">Delete
                                                Listing</button>
                                    </ng-container>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</section>


<section class=" pb-5 pt-0">
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <div class="ct_light_grey_bg">
                              <div class=" mb-4 d-flex  align-items-center justify-content-between gap-2 flex-wrap">
                                    <h4 class="ct_fs_20 ct_fw_600 mb-0">Vehicle Details</h4>
                                    <ng-container *appRole="'seller'">
                                          <span class="ct_green_text ct_fw_600">MFK Valid till Feb 2025</span>
                                    </ng-container>
                              </div>
                              <div class="ct_grid_4">
                                    <div class="ct_small_grey_card">
                                          <img src="img/icon_1.png" alt="" class="ct_flex_shrink_0">
                                          <div>
                                                <h6 class="ct_fs_16 ct_fw_600 mb-1">Mileage</h6>
                                                <p class="mb-0">15,000 km</p>

                                          </div>
                                    </div>
                                    <div class="ct_small_grey_card">
                                          <img src="img/icon_2.png" alt="" class="ct_flex_shrink_0">
                                          <div>
                                                <h6 class="ct_fs_16 ct_fw_600 mb-1">Year</h6>
                                                <p class="mb-0">2023</p>

                                          </div>
                                    </div>
                                    <div class="ct_small_grey_card">
                                          <img src="img/icon_3.png" alt="" class="ct_flex_shrink_0">
                                          <div>
                                                <h6 class="ct_fs_16 ct_fw_600 mb-1">Exterior</h6>
                                                <p class="mb-0">Alpine White</p>

                                          </div>
                                    </div>
                                    <div class="ct_small_grey_card">
                                          <img src="img/icon_4.png" alt="" class="ct_flex_shrink_0">
                                          <div>
                                                <h6 class="ct_fs_16 ct_fw_600 mb-1">Transmission</h6>
                                                <p class="mb-0">Automatic</p>

                                          </div>
                                    </div>
                                    <div class="ct_small_grey_card">
                                          <img src="img/icon_5.png" alt="" class="ct_flex_shrink_0">
                                          <div>
                                                <h6 class="ct_fs_16 ct_fw_600 mb-1">Fuel Type</h6>
                                                <p class="mb-0">Gasoline</p>

                                          </div>
                                    </div>
                                    <div class="ct_small_grey_card">
                                          <img src="img/icon_6.png" alt="" class="ct_flex_shrink_0">
                                          <div>
                                                <h6 class="ct_fs_16 ct_fw_600 mb-1">Condition</h6>
                                                <p class="mb-0">Brand New</p>

                                          </div>
                                    </div>
                                    <div class="ct_small_grey_card">
                                          <img src="img/icon_7.png" alt="" class="ct_flex_shrink_0">
                                          <div>
                                                <h6 class="ct_fs_16 ct_fw_600 mb-1">Sitting Capacity</h6>
                                                <p class="mb-0">5-Seater</p>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</section>

<section class="pt-0 pb-5">
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <div class="ct_light_grey_bg">
                              <h4 class="ct_fs_20 ct_fw_600 mb-4">Features & Specifications</h4>
                              <div class="ct_grid_4">
                                    <div class="ct_small_grey_card">
                                          <p class="mb-0">Leather Seats</p>
                                    </div>
                                    <div class="ct_small_grey_card">
                                          <p class="mb-0">Sunroof</p>

                                    </div>
                                    <div class="ct_small_grey_card">
                                          <p class="mb-0">5-Seater</p>
                                    </div>
                                    <div class="ct_small_grey_card">
                                          <p class="mb-0">Navigation</p>
                                    </div>
                                    <div class="ct_small_grey_card">
                                          <p class="mb-0">Bluetooth</p>
                                    </div>
                                    <div class="ct_small_grey_card">
                                          <p class="mb-0">Parking Sensors</p>
                                    </div>
                                    <div class="ct_small_grey_card">
                                          <p class="mb-0">360° Camera</p>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</section>
<section class="ct_py_70 pt-0">
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <div class="ct_light_grey_bg">
                              <h4 class="ct_fs_20 ct_fw_600 mb-3">Description</h4>
                              <p class="ct_para_scroll">This 2023 Mercedes-Benz C-Class is a stunning example of luxury
                                    and performance.
                                    Featuring premium leather interior, advanced safety features, and the latest
                                    technology package. The
                                    vehicle has been meticulously maintained and comes with a full service history.</p>
                        </div>
                  </div>
            </div>
      </div>
</section>



<!-- Show all Photos Modal S -->
<div class="modal fade modal-lg" id="ct_show_all_photos" tabindex="-1" aria-labelledby="ct_show_all_photosLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
            <div class=" modal-content">
                  <div class="modal-header border-0 pb-2">
                        <h4 class="ct_fs_20 ct_fw_600 mb-0">All Photos</h4>
                        <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                        <div class="owl-carousel owl-theme ct_product_gallary_slider">
                              <div class="item">
                                    <div class="ct_product_gallry_img">
                                          <img src="img/car_11.jpg" alt="">
                                    </div>
                              </div>
                              <div class="item">
                                    <div class="ct_product_gallry_img">
                                          <img src="img/car_11.jpg" alt="">
                                    </div>
                              </div>
                              <div class="item">
                                    <div class="ct_product_gallry_img">
                                          <img src="img/car_11.jpg" alt="">
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>
<!-- Show all Photos Modal E -->