<!-- <section class="">
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <h2 class="ct_fs_44 text-white ct_fw_700 ct_ff_Epilogue text-center">Wishlist</h2>
                        <ul class="ct_breadcrumb">
                              <li>
                                    <a routerLink="/" class="ct_text_red ct_fw_600">Home</a>
                              </li>
                              <li class="">
                                    <i class="fa-solid fa-angles-right "></i>
                              </li>
                              <li class="">
                                    Wishlist
                              </li>

                        </ul>
                  </div>
            </div>

      </div>
</section> -->


<section class="ct_py_70">
      <div class="container">
            <div class="row">
                  <div class="col-lg-12 mx-auto">

                        <div class="row">
                              <div class="col-xxl-4 col-lg-6 col-md-6 mb-4">
                                    <div class="ct_browse_car_card">
                                          <figure class="mb-0">
                                                <div class="ct_browse_card_img">
                                                      <img src="img/car-1.png" alt="">
                                                      <i class="fa-solid fa-heart"></i>

                                                </div>
                                                <figcaption class="mt-3">
                                                      <span class="ct_fs_16 ct_fw_700 mb-2 ct_text_red">CHF
                                                            45,900</span>
                                                      <a routerLink="/car-detail"
                                                            class="ct_fs_24 ct_fw_700 d-block">Mercedes-Benz C-Class</a>
                                                      <ul>
                                                            <li>
                                                                  <small
                                                                        class="ct_text_op_6 ct_fw_600">Translation</small>
                                                                  <p class="mb-0 ct_fs_16 ct_fw_600">Automatic</p>
                                                            </li>
                                                            <li>
                                                                  <small class="ct_text_op_6 ct_fw_600">Fuel
                                                                        Type</small>
                                                                  <p class="mb-0 ct_fs_16 ct_fw_600">Electric</p>
                                                            </li>
                                                            <li>
                                                                  <small
                                                                        class="ct_text_op_6 ct_fw_600">Passenger</small>
                                                                  <p class="mb-0 ct_fs_16 ct_fw_600">03 Person</p>
                                                            </li>
                                                      </ul>

                                                      <div class="mt-4">
                                                            <a routerLink="/car-detail"
                                                                  class="ct_red_btn w-100 text-center">View More</a>
                                                      </div>
                                                </figcaption>

                                          </figure>

                                    </div>

                              </div>
                              <div class="col-xxl-4 col-lg-6 col-md-6 mb-4">
                                    <div class="ct_browse_car_card">
                                          <figure class="mb-0">
                                                <div class="ct_browse_card_img">
                                                      <img src="img/car-1.png" alt="">
                                                      <i class="fa-solid fa-heart"></i>

                                                </div>
                                                <figcaption class="mt-3">
                                                      <span class="ct_fs_16 ct_fw_700 mb-2 ct_text_red">CHF
                                                            45,900</span>
                                                      <a routerLink="/car-detail"
                                                            class="ct_fs_24 ct_fw_700 d-block">Mercedes-Benz C-Class</a>
                                                      <ul>
                                                            <li>
                                                                  <small
                                                                        class="ct_text_op_6 ct_fw_600">Translation</small>
                                                                  <p class="mb-0 ct_fs_16 ct_fw_600">Automatic</p>
                                                            </li>
                                                            <li>
                                                                  <small class="ct_text_op_6 ct_fw_600">Fuel
                                                                        Type</small>
                                                                  <p class="mb-0 ct_fs_16 ct_fw_600">Electric</p>
                                                            </li>
                                                            <li>
                                                                  <small
                                                                        class="ct_text_op_6 ct_fw_600">Passenger</small>
                                                                  <p class="mb-0 ct_fs_16 ct_fw_600">03 Person</p>
                                                            </li>
                                                      </ul>
                                                      <div class="mt-4">
                                                            <a routerLink="/car-detail"
                                                                  class="ct_red_btn w-100 text-center">View More</a>
                                                      </div>
                                                </figcaption>

                                          </figure>

                                    </div>

                              </div>
                              <div class="col-xxl-4 col-lg-6 col-md-6 mb-4">
                                    <div class="ct_browse_car_card">
                                          <figure class="mb-0">
                                                <div class="ct_browse_card_img">
                                                      <img src="img/car-1.png" alt="">
                                                      <i class="fa-solid fa-heart"></i>
                                                </div>
                                                <figcaption class="mt-3">
                                                      <span class="ct_fs_16 ct_fw_700 mb-2 ct_text_red">CHF
                                                            45,900</span>
                                                      <a routerLink="/car-detail"
                                                            class="ct_fs_24 ct_fw_700 d-block">Mercedes-Benz C-Class</a>
                                                      <ul>
                                                            <li>
                                                                  <small
                                                                        class="ct_text_op_6 ct_fw_600">Translation</small>
                                                                  <p class="mb-0 ct_fs_16 ct_fw_600">Automatic</p>
                                                            </li>
                                                            <li>
                                                                  <small class="ct_text_op_6 ct_fw_600">Fuel
                                                                        Type</small>
                                                                  <p class="mb-0 ct_fs_16 ct_fw_600">Electric</p>
                                                            </li>
                                                            <li>
                                                                  <small
                                                                        class="ct_text_op_6 ct_fw_600">Passenger</small>
                                                                  <p class="mb-0 ct_fs_16 ct_fw_600">03 Person</p>
                                                            </li>
                                                      </ul>
                                                      <div class="mt-4">
                                                            <a routerLink="/car-detail"
                                                                  class="ct_red_btn w-100 text-center">View More</a>
                                                      </div>
                                                </figcaption>

                                          </figure>

                                    </div>

                              </div>
                              <div class="col-xxl-4 col-lg-6 col-md-6 mb-4">
                                    <div class="ct_browse_car_card">
                                          <figure class="mb-0">
                                                <div class="ct_browse_card_img">
                                                      <img src="img/car-1.png" alt="">
                                                      <i class="fa-solid fa-heart"></i>
                                                </div>
                                                <figcaption class="mt-3">
                                                      <span class="ct_fs_16 ct_fw_700 mb-2 ct_text_red">CHF
                                                            45,900</span>
                                                      <a routerLink="/car-detail"
                                                            class="ct_fs_24 ct_fw_700 d-block">Mercedes-Benz C-Class</a>
                                                      <ul>
                                                            <li>
                                                                  <small
                                                                        class="ct_text_op_6 ct_fw_600">Translation</small>
                                                                  <p class="mb-0 ct_fs_16 ct_fw_600">Automatic</p>
                                                            </li>
                                                            <li>
                                                                  <small class="ct_text_op_6 ct_fw_600">Fuel
                                                                        Type</small>
                                                                  <p class="mb-0 ct_fs_16 ct_fw_600">Electric</p>
                                                            </li>
                                                            <li>
                                                                  <small
                                                                        class="ct_text_op_6 ct_fw_600">Passenger</small>
                                                                  <p class="mb-0 ct_fs_16 ct_fw_600">03 Person</p>
                                                            </li>
                                                      </ul>
                                                      <div class="mt-4">
                                                            <a routerLink="/car-detail"
                                                                  class="ct_red_btn w-100 text-center">View More</a>
                                                      </div>
                                                </figcaption>

                                          </figure>

                                    </div>

                              </div>
                              <div class="col-xxl-4 col-lg-6 col-md-6 mb-4">
                                    <div class="ct_browse_car_card">
                                          <figure class="mb-0">
                                                <div class="ct_browse_card_img">
                                                      <img src="img/car-1.png" alt="">
                                                      <i class="fa-solid fa-heart"></i>
                                                </div>
                                                <figcaption class="mt-3">
                                                      <span class="ct_fs_16 ct_fw_700 mb-2 ct_text_red">CHF
                                                            45,900</span>
                                                      <a routerLink="/car-detail"
                                                            class="ct_fs_24 ct_fw_700 d-block">Mercedes-Benz C-Class</a>
                                                      <ul>
                                                            <li>
                                                                  <small
                                                                        class="ct_text_op_6 ct_fw_600">Translation</small>
                                                                  <p class="mb-0 ct_fs_16 ct_fw_600">Automatic</p>
                                                            </li>
                                                            <li>
                                                                  <small class="ct_text_op_6 ct_fw_600">Fuel
                                                                        Type</small>
                                                                  <p class="mb-0 ct_fs_16 ct_fw_600">Electric</p>
                                                            </li>
                                                            <li>
                                                                  <small
                                                                        class="ct_text_op_6 ct_fw_600">Passenger</small>
                                                                  <p class="mb-0 ct_fs_16 ct_fw_600">03 Person</p>
                                                            </li>
                                                      </ul>
                                                      <div class="mt-4">
                                                            <a routerLink="/car-detail"
                                                                  class="ct_red_btn w-100 text-center">View More</a>
                                                      </div>
                                                </figcaption>

                                          </figure>

                                    </div>

                              </div>
                              <div class="col-xxl-4 col-lg-6 col-md-6 mb-4">
                                    <div class="ct_browse_car_card">
                                          <figure class="mb-0">
                                                <div class="ct_browse_card_img">
                                                      <img src="img/car-1.png" alt="">
                                                      <i class="fa-solid fa-heart"></i>
                                                </div>
                                                <figcaption class="mt-3">
                                                      <span class="ct_fs_16 ct_fw_700 mb-2 ct_text_red">CHF
                                                            45,900</span>
                                                      <a routerLink="/car-detail"
                                                            class="ct_fs_24 ct_fw_700 d-block">Mercedes-Benz C-Class</a>
                                                      <ul>
                                                            <li>
                                                                  <small
                                                                        class="ct_text_op_6 ct_fw_600">Translation</small>
                                                                  <p class="mb-0 ct_fs_16 ct_fw_600">Automatic</p>
                                                            </li>
                                                            <li>
                                                                  <small class="ct_text_op_6 ct_fw_600">Fuel
                                                                        Type</small>
                                                                  <p class="mb-0 ct_fs_16 ct_fw_600">Electric</p>
                                                            </li>
                                                            <li>
                                                                  <small
                                                                        class="ct_text_op_6 ct_fw_600">Passenger</small>
                                                                  <p class="mb-0 ct_fs_16 ct_fw_600">03 Person</p>
                                                            </li>
                                                      </ul>
                                                      <div class="mt-4">
                                                            <a routerLink="/car-detail"
                                                                  class="ct_red_btn w-100 text-center">View More</a>
                                                      </div>
                                                </figcaption>

                                          </figure>

                                    </div>

                              </div>

                        </div>

                  </div>

            </div>
      </div>

</section>