<section class="ct_py_70">
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <div class="ct_edit_profile_bg">
                              <div class="row">
                                    <div class="col-md-6 mb-4 mb-md-0">
                                          <div class="ct_pricing_plan_card">
                                                <div
                                                      class="d-flex align-items-center justify-content-between gap-2 mb-2">
                                                      <h4 class="ct_fs_20 ct_fw_600 mb-0">Basic Plan</h4>
                                                      <span class="ct_custom_badge">Starter</span>
                                                </div>
                                                <h3 class="ct_fs_24 ct_fw_700 mb-0 ct_text_red mb-1">
                                                      CHF 1.00
                                                </h3>
                                                <p class="mb-0">First car</p>
                                          </div>
                                    </div>
                                    <div class="col-md-6 mb-4 mb-md-0">
                                          <div class="ct_pricing_plan_card">
                                                <div
                                                      class="d-flex align-items-center justify-content-between gap-2 mb-2">
                                                      <h4 class="ct_fs_20 ct_fw_600 mb-0">Additional Cars</h4>
                                                </div>
                                                <h3 class="ct_fs_24 ct_fw_700 mb-0 ct_text_red mb-1">
                                                      CHF 29.95
                                                </h3>
                                                <p class="mb-0">Price per additional car</p>
                                          </div>
                                    </div>
                              </div>

                              <div class="mt-4">
                                    <h4 class="ct_fs_20 ct_fw_600 mb-4">Bulk Slot Options</h4>
                                    <div class="row">
                                          <div class="col-md-6 mb-4">
                                                <ul class="ct_slot_list">
                                                      <li>
                                                            <div class="form-check ct_custom_radio">
                                                                  <input class="form-check-input" type="radio"
                                                                        name="flexRadioDefault"
                                                                        id="flexRadioDefault1" />
                                                                  <label class="form-check-label ct_fw_500"
                                                                        for="flexRadioDefault1">
                                                                        10 Slots
                                                                  </label>
                                                            </div>
                                                            <h6 class="mb-0">
                                                                  <span class="ct_fw_700">CHF 299.50</span>/month
                                                            </h6>
                                                      </li>
                                                </ul>
                                          </div>
                                          <div class="col-md-6 mb-4">
                                                <ul class="ct_slot_list">
                                                      <li>
                                                            <div class="form-check ct_custom_radio">
                                                                  <input class="form-check-input" type="radio"
                                                                        name="flexRadioDefault"
                                                                        id="flexRadioDefault1" />
                                                                  <label class="form-check-label ct_fw_500"
                                                                        for="flexRadioDefault1">
                                                                        15 Slots
                                                                  </label>
                                                            </div>
                                                            <h6 class="mb-0">
                                                                  <span class="ct_fw_700">CHF 449.25</span>/month
                                                            </h6>
                                                      </li>
                                                </ul>
                                          </div>
                                          <div class="col-md-6 mb-4">
                                                <ul class="ct_slot_list">
                                                      <li>
                                                            <div class="form-check ct_custom_radio">
                                                                  <input class="form-check-input" type="radio"
                                                                        name="flexRadioDefault"
                                                                        id="flexRadioDefault1" />
                                                                  <label class="form-check-label ct_fw_500"
                                                                        for="flexRadioDefault1">
                                                                        20 Slots
                                                                  </label>
                                                            </div>
                                                            <h6 class="mb-0">
                                                                  <span class="ct_fw_700">CHF 599.00</span>/month
                                                            </h6>
                                                      </li>
                                                </ul>
                                          </div>
                                    </div>

                                    <a routerLink="/request-additional-slots" class="ct_text_red ct_fw_600">Request Slot
                                          <i class="fa-solid fa-arrow-right ms-1"></i></a>

                                    <div class="ct_info_box mt-3">
                                          <p class="mb-0"><i class="fa-solid fa-circle-info"></i> You can freely swap
                                                cars anytime this month
                                                without paying extra.</p>
                                    </div>

                                    <div class="mt-5 text-center">
                                          <a routerLink="/list-your-car" class="ct_red_btn">Continue to Add car</a>

                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</section>