<section class="ct_py_70">
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <div class="ct_edit_profile_bg">
                              <div class="row">
                                    <div class="row">
                                          @for (item of planList.slice(0, 2); track $index) {
                                          <div class="col-md-6 mb-4 mb-md-0">
                                                <div class="ct_pricing_plan_card"
                                                      [ngClass]="{'selected': selectedPlan === item}"
                                                      (click)="selectPlan(item)">
                                                      <div
                                                            class="d-flex align-items-center justify-content-between gap-2 mb-2">
                                                            <h4 class="ct_fs_20 ct_fw_600 mb-0">{{item.name}}</h4>
                                                            @if (item.name == 'Basic Plan') {
                                                            <span class="ct_custom_badge">Starter</span>
                                                            }
                                                      </div>
                                                      <h3 class="ct_fs_24 ct_fw_700 mb-0 ct_text_red mb-1">
                                                            {{item.price }}
                                                      </h3>
                                                      @if (item.name == 'Basic Plan') {
                                                      <p class="mb-0">First car</p>
                                                      }@else {
                                                      <p class="mb-0">Price per additional car</p>
                                                      }
                                                </div>
                                          </div>
                                          }
                                    </div>

                              </div>

                              <div class="mt-4">
                                    <h4 class="ct_fs_20 ct_fw_600 mb-4">Bulk Slot Options</h4>
                                    <div class="row">
                                          @for (item of planList.slice(2); track $index) {
                                          <div class="col-md-6 mb-4">
                                                <ul class="ct_slot_list">
                                                      <li>
                                                            <div class="form-check ct_custom_radio">
                                                                  <input class="form-check-input" type="radio"
                                                                        name="flexRadioDefault"
                                                                        [id]="item.slot_count + '_' + item.name"
                                                                        (change)="selectPlan(item)" />
                                                                  <label class="form-check-label ct_fw_500 ms-1"
                                                                        [for]="item.slot_count + '_' + item.name">
                                                                        {{item.slot_count}} Slots
                                                                  </label>
                                                            </div>
                                                            <h6 class="mb-0">
                                                                  <span class="ct_fw_700">{{item.price}}</span>/month
                                                            </h6>
                                                      </li>
                                                </ul>
                                          </div>
                                          }
                                    </div>

                                    <a routerLink="/request-additional-slots" class="ct_text_red ct_fw_600">Request Slot
                                          <i class="fa-solid fa-arrow-right ms-1"></i></a>

                                    <div class="ct_info_box mt-3">
                                          <p class="mb-0"><i class="fa-solid fa-circle-info"></i> You can freely swap
                                                cars anytime this month
                                                without paying extra.</p>
                                    </div>

                                    <div class="mt-5 text-center">
                                          <button [disabled]="!selectedPlan" class="ct_red_btn"
                                                (click)="purchasePlan()">Continue to Add
                                                car</button>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</section>