<section>
      <div class="container-fluid">
            <div class="row">
                  <!-- <div class="carSwiper swiper">
                        <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                    <div class="ct_slider_item">
                                          <div class="ct_card_item_animated">
                                                <h1 class="ct_fs_44 ct_fw_800 text-white">Electric Class
                                                </h1>
                                                <img src="img/car_slide_1.png" alt="">
                                          </div>
                                    </div>
                              </div>
                              <div class="swiper-slide">
                                    <div class="ct_slider_item">
                                          <div class="ct_card_item_animated">
                                                <h1 class="ct_fs_64 ct_fw_800 text-white">Business SUV</h1>
                                                <img src="img/car_slide_2.png" alt="">
                                          </div>
                                    </div>
                              </div>
                              <div class="swiper-slide">
                                    <div class="ct_slider_item">
                                          <div class="ct_card_item_animated">
                                                <h1 class="ct_fs_64 ct_fw_800 text-white">Luxury Sedan</h1>
                                                <img src="img/car_slide_3.png" alt="">
                                          </div>
                                    </div>
                              </div>
                              <div class="swiper-slide">
                                    <div class="ct_slider_item">
                                          <div class="ct_card_item_animated">
                                                <h1 class="ct_fs_64 ct_fw_800 text-white">SUV</h1>
                                                <img src="img/car_slide_4.png" alt="">
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div> -->
                  <div class="col-md-12">
                        <div class="ct_home_banner">
                              <ng-container *appRole="'buyer'">
                                    <h1 class="ct_ff_Epilogue ct_fs_74 ct_fw_700 text-white text-center  mb-0">
                                          {{'ListBuyEasily' | translate}} <br> {{'With' | translate}} CarZone</h1>
                              </ng-container>
                              <ng-container *appRole="'seller'">
                                    <h1 class="ct_ff_Epilogue ct_fs_74 ct_fw_700 text-white text-center  mb-0">
                                          {{'ListYourCar' | translate}} <span class="ct_text_red">{{'Today' |
                                                translate}}</span></h1>
                                    <div class="mt-4 text-center">
                                          <button (click)="listCar()" class="ct_red_btn">{{'ListYourCar' |
                                                translate}}</button>
                                    </div>
                              </ng-container>
                              <div class="carSwiper swiper ct_login_slider ">
                                    <div class="swiper-wrapper">
                                          <div class="swiper-slide">
                                                <div class="ct_slider_item">
                                                      <div class="ct_card_item_animated">
                                                            <h1 class="ct_fs_44 ct_fw_800 text-white">Electric Class
                                                            </h1>
                                                            <img src="img/car_slide_1.png" alt="">
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="swiper-slide">
                                                <div class="ct_slider_item">
                                                      <div class="ct_card_item_animated">
                                                            <h1 class="ct_fs_64 ct_fw_800 text-white">Business SUV</h1>
                                                            <img src="img/car_slide_2.png" alt="">
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="swiper-slide">
                                                <div class="ct_slider_item">
                                                      <div class="ct_card_item_animated">
                                                            <h1 class="ct_fs_64 ct_fw_800 text-white">Luxury Sedan</h1>
                                                            <img src="img/car_slide_3.png" alt="">
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="swiper-slide">
                                                <div class="ct_slider_item">
                                                      <div class="ct_card_item_animated">
                                                            <h1 class="ct_fs_64 ct_fw_800 text-white">SUV</h1>
                                                            <img src="img/car_slide_4.png" alt="">
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</section>


<!-- about section S -->
<section class="ct_py_70">
      <div class="container">
            <div class="row align-items-center">
                  <div class="col-md-5 mb-4 mb-md-0">
                        <div class="ct_about_img animate__animated animate__fadeInLeft animate__delay-1s">
                              <img src="img/about_us.png" alt="">
                        </div>
                  </div>
                  <div
                        class="col-md-6 offset-md-1 mb-4 mb-md-0 animate__animated animate__fadeInRight animate__delay-1s">
                        <h5 class="ct_text_red ct_fw_700">{{ 'AboutUs' | translate }}</h5>
                        <h2 class="ct_fs_44 ct_fw_700">{{ 'ConnectingCarBuyersAndSellersHassleFree' | translate }}</h2>
                        <p class="mb-0">{{ 'AboutUsDescription' | translate }}</p>
                  </div>
            </div>
      </div>
</section>
<!-- about section E -->

<!-- counter section S Buyer -->
<ng-container *appRole="'buyer'">
      <section class="ct_counter_bg animate__animated animate__fadeInUp animate__delay-1s">
            <div class="container">
                  <div class="row " id="counter">
                        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                              <div class="ct_counter_box">
                                    <div class="ct_counter_icon">
                                          <img src="img/car_listed_icon.svg" alt="">
                                    </div>
                                    <div>
                                          <h4 class="ct_fs_35 ct_fw_700 ct_ff_Epilogue mb-0 text-white counter-value"
                                                data-count="500">0</h4>
                                          <p class="mb-0 text-white">{{'CarsListed' | translate}}</p>
                                    </div>
                              </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                              <div class="ct_counter_box">
                                    <div class="ct_counter_icon">
                                          <img src="img/active_buyer_icon.svg" alt="">
                                    </div>
                                    <div>
                                          <h4 class="ct_fs_35 ct_fw_700 ct_ff_Epilogue mb-0 text-white counter-value"
                                                data-count="23160">0</h4>
                                          <p class="mb-0 text-white">{{'ActiveBuyers' | translate}}</p>
                                    </div>
                              </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                              <div class="ct_counter_box">
                                    <div class="ct_counter_icon">
                                          <img src="img/seller_icon.svg" alt="">
                                    </div>
                                    <div>
                                          <h4 class="ct_fs_35 ct_fw_700 ct_ff_Epilogue mb-0 text-white counter-value"
                                                data-count="1500">0</h4>
                                          <p class="mb-0 text-white">{{'VerifiedSellers' | translate}}</p>
                                    </div>
                              </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                              <div class="ct_counter_box">
                                    <div class="ct_counter_icon">
                                          <img src="img/categories_icon.svg" alt="">
                                    </div>
                                    <div>
                                          <h4 class="ct_fs_35 ct_fw_700 ct_ff_Epilogue mb-0 text-white counter-value"
                                                data-count="20">0</h4>
                                          <p class="mb-0 text-white">{{'CategoriesAvailable' | translate}}</p>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </section>
</ng-container>
<!-- counter section E -->

<!-- counter section S  Seller -->
<ng-container *appRole="'seller'">
      <section class="ct_counter_bg animate__animated animate__fadeInUp animate__delay-1s">
            <div class="container">
                  <div class="row " id="counter">
                        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                              <div class="ct_counter_box">
                                    <div class="ct_counter_icon">
                                          <img src="img/car_listed_icon.svg" alt="">
                                    </div>
                                    <div>
                                          <h4 class="ct_fs_35 ct_fw_700 ct_ff_Epilogue mb-0 text-white counter-value"
                                                data-count="500">0</h4>
                                          <p class="mb-0 text-white">{{'AvailableCars' | translate}}</p>
                                    </div>
                              </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                              <div class="ct_counter_box">
                                    <div class="ct_counter_icon">
                                          <img src="img/active_buyer_icon.svg" alt="">

                                    </div>
                                    <div>
                                          <h4 class="ct_fs_35 ct_fw_700 ct_ff_Epilogue mb-0 text-white counter-value"
                                                data-count="23160">0</h4>
                                          <p class="mb-0 text-white">{{'VehiclesStock' | translate}}</p>
                                    </div>
                              </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                              <div class="ct_counter_box">
                                    <div class="ct_counter_icon">
                                          <img src="img/seller_icon.svg" alt="">
                                    </div>
                                    <div>
                                          <h4 class="ct_fs_35 ct_fw_700 ct_ff_Epilogue mb-0 text-white counter-value"
                                                data-count="1500">0</h4>
                                          <p class="mb-0 text-white">{{'DealersServed' | translate}}</p>
                                    </div>
                              </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                              <div class="ct_counter_box">
                                    <div class="ct_counter_icon">
                                          <img src="img/categories_icon.svg" alt="">
                                    </div>
                                    <div>
                                          <h4 class="ct_fs_35 ct_fw_700 ct_ff_Epilogue mb-0 text-white counter-value"
                                                data-count="220">0</h4>
                                          <p class="mb-0 text-white">{{'vehiclesOnSale' | translate}}
                                          </p>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </section>
</ng-container>
<!-- counter section E -->
<ng-container *appRole="'seller'">
      <section class="ct_py_70">
            <div class="container">
                  <div class="row animate__animated animate__fadeInUp animate__delay-1s">
                        <div class="col-md-12">
                              <div class="text-center">
                                    <h2 class="ct_fs_44 ct_fw_700 mb-0">{{'Active' | translate}} <span
                                                class="ct_text_red">{{'Listings' | translate}}</span>
                                    </h2>
                                    <span class="ct_line_animation"></span>
                                    <p class="mt-2">{{'ActiveCarsDescription' | translate}}
                                    </p>
                              </div>
                        </div>
                  </div>

                  <div class="row mt-5 animate__animated animate__fadeInUp animate__delay-1s">
                        <div class="col-md-12">
                              <div class="mySwiper swiper ct_listing_slider">
                                    <div class="swiper-wrapper">
                                          <div class="swiper-slide">
                                                <div class="ct_listing_card">
                                                      <figure class="mb-0">
                                                            <div class="ct_listing_img">
                                                                  <img src="img/car_11.jpg" alt="">
                                                                  <i class="fa-regular fa-heart"></i>
                                                            </div>
                                                            <figcaption>
                                                                  <h4 class="ct_fs_18 ct_fw_500 text-white mb-0">CHF
                                                                        32,445.00
                                                                  </h4>
                                                                  <a href="car-detail.html"
                                                                        class="ct_fs_22 ct_fw_600">BMW</a>
                                                            </figcaption>
                                                      </figure>
                                                </div>
                                          </div>
                                          <div class="swiper-slide">
                                                <div class="ct_listing_card">
                                                      <figure class="mb-0">
                                                            <div class="ct_listing_img">
                                                                  <img src="img/car_22.jpg" alt="">
                                                                  <i class="fa-regular fa-heart"></i>
                                                            </div>
                                                            <figcaption>
                                                                  <h4 class="ct_fs_18 ct_fw_500 text-white mb-0">CHF
                                                                        32,445.00
                                                                  </h4>
                                                                  <a href="car-detail.html"
                                                                        class="ct_fs_22 ct_fw_600">SUV</a>
                                                            </figcaption>
                                                      </figure>
                                                </div>
                                          </div>
                                          <div class="swiper-slide">
                                                <div class="ct_listing_card">
                                                      <figure class="mb-0">
                                                            <div class="ct_listing_img">
                                                                  <img src="img/car_33.jpg" alt="">
                                                                  <i class="fa-regular fa-heart"></i>
                                                            </div>
                                                            <figcaption>
                                                                  <h4 class="ct_fs_18 ct_fw_500 text-white mb-0">CHF
                                                                        32,445.00
                                                                  </h4>
                                                                  <a href="car-detail.html"
                                                                        class="ct_fs_22 ct_fw_600">Sedan</a>
                                                            </figcaption>
                                                      </figure>
                                                </div>
                                          </div>
                                          <div class="swiper-slide">
                                                <div class="ct_listing_card">
                                                      <figure class="mb-0">
                                                            <div class="ct_listing_img">
                                                                  <img src="img/car_44.jpg" alt="">
                                                                  <i class="fa-regular fa-heart"></i>
                                                            </div>
                                                            <figcaption>
                                                                  <h4 class="ct_fs_18 ct_fw_500 text-white mb-0">CHF
                                                                        32,445.00
                                                                  </h4>
                                                                  <a href="car-detail.html"
                                                                        class="ct_fs_22 ct_fw_600">Ferrari</a>
                                                            </figcaption>
                                                      </figure>
                                                </div>
                                          </div>
                                          <div class="swiper-slide">
                                                <div class="ct_listing_card">
                                                      <figure class="mb-0">
                                                            <div class="ct_listing_img">
                                                                  <img src="img/car_4.jpg" alt="">
                                                                  <i class="fa-regular fa-heart"></i>
                                                            </div>
                                                            <figcaption>
                                                                  <h4 class="ct_fs_18 ct_fw_500 text-white mb-0">CHF
                                                                        32,445.00
                                                                  </h4>
                                                                  <a href="car-detail.html"
                                                                        class="ct_fs_22 ct_fw_600">Ferrari</a>
                                                            </figcaption>
                                                      </figure>
                                                </div>
                                          </div>
                                          <div class="swiper-slide">
                                                <div class="ct_listing_card">
                                                      <figure class="mb-0">
                                                            <div class="ct_listing_img">
                                                                  <img src="img/car_4.jpg" alt="">
                                                                  <i class="fa-regular fa-heart"></i>
                                                            </div>
                                                            <figcaption>
                                                                  <h4 class="ct_fs_18 ct_fw_500 text-white mb-0">CHF
                                                                        32,445.00
                                                                  </h4>
                                                                  <a href="car-detail.html"
                                                                        class="ct_fs_22 ct_fw_600">Ferrari</a>
                                                            </figcaption>
                                                      </figure>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </section>

      <section class="ct_py_70 pt-0">
            <div class="container">
                  <div class="row animate__animated animate__fadeInUp animate__delay-1s">
                        <div class="col-md-12">
                              <div class="text-center">
                                    <h2 class="ct_fs_44 ct_fw_700 mb-0">{{'Pending' | translate}} <span
                                                class="ct_text_red">{{'Renewals' | translate}}</span>
                                    </h2>
                                    <span class="ct_line_animation"></span>
                                    <p class="mt-2">{{'ActiveCarsDescription' | translate}}
                                    </p>
                              </div>
                        </div>
                  </div>

                  <div class="row mt-5 animate__animated animate__fadeInUp animate__delay-1s">
                        <div class="col-md-12">
                              <div class="mySwiper swiper ct_listing_slider">
                                    <div class="swiper-wrapper">
                                          <div class="swiper-slide">
                                                <div class="ct_listing_card">
                                                      <figure class="mb-0">
                                                            <div class="ct_listing_img">
                                                                  <img src="img/car_11.jpg" alt="">
                                                                  <i class="fa-regular fa-heart"></i>
                                                            </div>
                                                            <figcaption>
                                                                  <h4 class="ct_fs_18 ct_fw_500 text-white mb-0">CHF
                                                                        32,445.00
                                                                  </h4>
                                                                  <a href="car-detail.html"
                                                                        class="ct_fs_22 ct_fw_600">BMW</a>
                                                            </figcaption>
                                                      </figure>
                                                </div>
                                          </div>
                                          <div class="swiper-slide">
                                                <div class="ct_listing_card">
                                                      <figure class="mb-0">
                                                            <div class="ct_listing_img">
                                                                  <img src="img/car_22.jpg" alt="">
                                                                  <i class="fa-regular fa-heart"></i>
                                                            </div>
                                                            <figcaption>
                                                                  <h4 class="ct_fs_18 ct_fw_500 text-white mb-0">CHF
                                                                        32,445.00
                                                                  </h4>
                                                                  <a href="car-detail.html"
                                                                        class="ct_fs_22 ct_fw_600">SUV</a>
                                                            </figcaption>
                                                      </figure>
                                                </div>
                                          </div>
                                          <div class="swiper-slide">
                                                <div class="ct_listing_card">
                                                      <figure class="mb-0">
                                                            <div class="ct_listing_img">
                                                                  <img src="img/car_33.jpg" alt="">
                                                                  <i class="fa-regular fa-heart"></i>
                                                            </div>
                                                            <figcaption>
                                                                  <h4 class="ct_fs_18 ct_fw_500 text-white mb-0">CHF
                                                                        32,445.00
                                                                  </h4>
                                                                  <a href="car-detail.html"
                                                                        class="ct_fs_22 ct_fw_600">Sedan</a>
                                                            </figcaption>
                                                      </figure>
                                                </div>
                                          </div>
                                          <div class="swiper-slide">
                                                <div class="ct_listing_card">
                                                      <figure class="mb-0">
                                                            <div class="ct_listing_img">
                                                                  <img src="img/car_44.jpg" alt="">
                                                                  <i class="fa-regular fa-heart"></i>
                                                            </div>
                                                            <figcaption>
                                                                  <h4 class="ct_fs_18 ct_fw_500 text-white mb-0">CHF
                                                                        32,445.00
                                                                  </h4>
                                                                  <a href="car-detail.html"
                                                                        class="ct_fs_22 ct_fw_600">Ferrari</a>
                                                            </figcaption>
                                                      </figure>
                                                </div>
                                          </div>
                                          <div class="swiper-slide">
                                                <div class="ct_listing_card">
                                                      <figure class="mb-0">
                                                            <div class="ct_listing_img">
                                                                  <img src="img/car_4.jpg" alt="">
                                                                  <i class="fa-regular fa-heart"></i>
                                                            </div>
                                                            <figcaption>
                                                                  <h4 class="ct_fs_18 ct_fw_500 text-white mb-0">CHF
                                                                        32,445.00
                                                                  </h4>
                                                                  <a href="car-detail.html"
                                                                        class="ct_fs_22 ct_fw_600">Ferrari</a>
                                                            </figcaption>
                                                      </figure>
                                                </div>
                                          </div>
                                          <div class="swiper-slide">
                                                <div class="ct_listing_card">
                                                      <figure class="mb-0">
                                                            <div class="ct_listing_img">
                                                                  <img src="img/car_4.jpg" alt="">
                                                                  <i class="fa-regular fa-heart"></i>
                                                            </div>
                                                            <figcaption>
                                                                  <h4 class="ct_fs_18 ct_fw_500 text-white mb-0">CHF
                                                                        32,445.00
                                                                  </h4>
                                                                  <a href="car-detail.html"
                                                                        class="ct_fs_22 ct_fw_600">Ferrari</a>
                                                            </figcaption>
                                                      </figure>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </section>
</ng-container>

<ng-container *appRole="'buyer'">
      <section class="ct_py_70">
            <div class="container">
                  <div class="row animate__animated animate__fadeInUp animate__delay-1s">
                        <div class="col-md-12">
                              <div class="text-center">
                                    <h2 class="ct_fs_44 ct_fw_700 mb-0">{{'Top' | translate}} <span
                                                class="ct_text_red">{{'Cars' | translate}}</span>
                                    </h2>
                                    <span class="ct_line_animation"></span>
                                    <p class="mt-2">{{'ActiveCarsDescription' | translate}}</p>
                              </div>
                        </div>
                  </div>

                  <div class="row mt-5 animate__animated animate__fadeInUp animate__delay-1s">
                        <div class="col-md-12">
                              <div class="mySwiper swiper ct_listing_slider">
                                    <div class="swiper-wrapper">
                                          <div class=" swiper-slide ct_browse_car_card">
                                                <figure class="mb-0">
                                                      <div class="ct_browse_card_img">
                                                            <img src="img/car_11.jpg" alt="">
                                                            <i class="fa-regular fa-heart"></i>
                                                      </div>
                                                      <figcaption class="mt-3">
                                                            <div
                                                                  class="d-flex align-items-center justify-content-between mb-2">
                                                                  <span class="ct_fs_16 ct_fw_700 mb-0 ct_text_red">CHF
                                                                        45,900</span>
                                                                  <small class="ct_fs_14 ct_text_op_6">/ Leasing ab
                                                                        499-.
                                                                        CHF</small>
                                                            </div>
                                                            <a routerLink="/car-detail"
                                                                  class="ct_fs_20 ct_fw_700 d-block">Mercedes-Benz
                                                                  C-Class</a>
                                                            <ul>
                                                                  <li>
                                                                        <small
                                                                              class="ct_text_op_6 ct_fw_600">Translation</small>
                                                                        <p class="mb-0 ct_fs_16 ct_fw_600">
                                                                              Automatic</p>
                                                                  </li>
                                                                  <li>
                                                                        <small class="ct_text_op_6 ct_fw_600">Fuel
                                                                              Type</small>
                                                                        <p class="mb-0 ct_fs_16 ct_fw_600">
                                                                              Electric</p>
                                                                  </li>
                                                                  <li>
                                                                        <small
                                                                              class="ct_text_op_6 ct_fw_600">Passenger</small>
                                                                        <p class="mb-0 ct_fs_16 ct_fw_600">03
                                                                              Person</p>
                                                                  </li>
                                                            </ul>

                                                            <div class="mt-4">
                                                                  <a routerLink="/car-detail"
                                                                        class="ct_red_btn w-100 text-center">View
                                                                        More</a>
                                                            </div>
                                                      </figcaption>
                                                </figure>
                                          </div>
                                          <div class=" swiper-slide ct_browse_car_card">
                                                <figure class="mb-0">
                                                      <div class="ct_browse_card_img">
                                                            <img src="img/car_22.jpg" alt="">
                                                            <i class="fa-regular fa-heart"></i>

                                                      </div>
                                                      <figcaption class="mt-3">
                                                            <div
                                                                  class="d-flex align-items-center justify-content-between mb-2">
                                                                  <span class="ct_fs_16 ct_fw_700 mb-0 ct_text_red">CHF
                                                                        45,900</span>
                                                                  <small class="ct_fs_14 ct_text_op_6">/ Leasing ab
                                                                        499-.
                                                                        CHF</small>
                                                            </div>
                                                            <a routerLink="/car-detail"
                                                                  class="ct_fs_20 ct_fw_700 d-block">Mercedes-Benz
                                                                  C-Class</a>
                                                            <ul>
                                                                  <li>
                                                                        <small
                                                                              class="ct_text_op_6 ct_fw_600">Translation</small>
                                                                        <p class="mb-0 ct_fs_16 ct_fw_600">
                                                                              Automatic</p>
                                                                  </li>
                                                                  <li>
                                                                        <small class="ct_text_op_6 ct_fw_600">Fuel
                                                                              Type</small>
                                                                        <p class="mb-0 ct_fs_16 ct_fw_600">
                                                                              Electric</p>
                                                                  </li>
                                                                  <li>
                                                                        <small
                                                                              class="ct_text_op_6 ct_fw_600">Passenger</small>
                                                                        <p class="mb-0 ct_fs_16 ct_fw_600">03
                                                                              Person</p>
                                                                  </li>
                                                            </ul>
                                                            <div class="mt-4">
                                                                  <a routerLink="/car-detail"
                                                                        class="ct_red_btn w-100 text-center">View
                                                                        More</a>
                                                            </div>
                                                      </figcaption>
                                                </figure>
                                          </div>
                                          <div class=" swiper-slide ct_browse_car_card">
                                                <figure class="mb-0">
                                                      <div class="ct_browse_card_img">
                                                            <img src="img/car_33.jpg" alt="">
                                                            <i class="fa-regular fa-heart"></i>
                                                      </div>
                                                      <figcaption class="mt-3">
                                                            <div
                                                                  class="d-flex align-items-center justify-content-between mb-2">
                                                                  <span class="ct_fs_16 ct_fw_700 mb-0 ct_text_red">CHF
                                                                        45,900</span>
                                                                  <small class="ct_fs_14 ct_text_op_6">/ Leasing ab
                                                                        499-.
                                                                        CHF</small>
                                                            </div>
                                                            <a routerLink="/car-detail"
                                                                  class="ct_fs_20 ct_fw_700 d-block">Mercedes-Benz
                                                                  C-Class</a>
                                                            <ul>
                                                                  <li>
                                                                        <small
                                                                              class="ct_text_op_6 ct_fw_600">Translation</small>
                                                                        <p class="mb-0 ct_fs_16 ct_fw_600">
                                                                              Automatic</p>
                                                                  </li>
                                                                  <li>
                                                                        <small class="ct_text_op_6 ct_fw_600">Fuel
                                                                              Type</small>
                                                                        <p class="mb-0 ct_fs_16 ct_fw_600">
                                                                              Electric</p>
                                                                  </li>
                                                                  <li>
                                                                        <small
                                                                              class="ct_text_op_6 ct_fw_600">Passenger</small>
                                                                        <p class="mb-0 ct_fs_16 ct_fw_600">03
                                                                              Person</p>
                                                                  </li>
                                                            </ul>

                                                            <div class="mt-4">
                                                                  <a routerLink="/car-detail"
                                                                        class="ct_red_btn w-100 text-center">View
                                                                        More</a>
                                                            </div>
                                                      </figcaption>
                                                </figure>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </section>
</ng-container>

<!-- why Choose us section S -->
<section class="ct_why_choose_bg">
      <div class="container">
            <div class="row">
                  <div class="col-lg-6 mb-4">
                        <div class="">
                              <h2 class="ct_fs_44 ct_fw_700 text-white">{{'WhyChoose' | translate}} <span
                                          class="ct_text_red">CarZone?</span></h2>
                              <p class="mb-0 text-white">{{'WhyChooseDescription' | translate}}</p>

                              <div class="ct_why_choose_img">
                                    <img src="img/why_choose_car.png" alt="">
                              </div>
                        </div>
                  </div>
                  <div class="col-lg-6 mb-4">
                        <div class="row">
                              <div class="col-md-6 col-sm-6  mt-lg-5">
                                    <div class="ct_why_choose_card mb-4">
                                          <figure>
                                                <div class="ct_why_choose_icon">
                                                      <img src="img/wide_selection_car_of_icon.svg" alt="">

                                                </div>
                                                <figcaption>
                                                      <h4 class="ct_fs_20 ct_fw_700">{{'WideSelectionofCars' |
                                                            translate}}</h4>
                                                      <p class="mb-0 ct_fs_14">{{'WideSelectionofCarsDescription' |
                                                            translate}}</p>
                                                </figcaption>
                                          </figure>
                                    </div>
                                    <div class="ct_why_choose_card mb-4">
                                          <figure>
                                                <div class="ct_why_choose_icon">
                                                      <img src="img/verified_seller_icon.svg" alt="">
                                                </div>
                                                <figcaption>
                                                      <h4 class="ct_fs_20 ct_fw_700">{{'VerifiedSellers' | translate}}
                                                      </h4>
                                                      <p class="mb-0 ct_fs_14">{{'verifiedSellersDescription' |
                                                            translate}}</p>
                                                </figcaption>
                                          </figure>
                                    </div>
                              </div>
                              <div class="col-md-6 col-sm-6 ">
                                    <div class="ct_why_choose_card mb-4">
                                          <figure>
                                                <div class="ct_why_choose_icon">
                                                      <img src="img/easy_chat_and_negotiation_icon.svg" alt="">
                                                </div>
                                                <figcaption>
                                                      <h4 class="ct_fs_20 ct_fw_700">{{'EasyChatNegotiation' |
                                                            translate}}</h4>
                                                      <p class="mb-0 ct_fs_14">{{'EasyChatNegotiationDescription' |
                                                            translate}}</p>
                                                </figcaption>
                                          </figure>
                                    </div>
                                    <div class="ct_why_choose_card mb-4">
                                          <figure>
                                                <div class="ct_why_choose_icon">
                                                      <img src="img/zero_commission_listing_icon.svg" alt="">
                                                </div>
                                                <figcaption>
                                                      <h4 class="ct_fs_20 ct_fw_700">{{'ZeroCommissionListings' |
                                                            translate}}</h4>
                                                      <p class="mb-0 ct_fs_14">{{'ZeroCommissionListingsDescription' |
                                                            translate}}</p>
                                                </figcaption>
                                          </figure>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</section>
<!-- why Choose us section E -->


<section class="ct_py_70">
      <div class="container">
            <div class="row animate__animated animate__fadeInUp animate__delay-1s">
                  <div class="col-md-12">
                        <div class="text-center">
                              <h2 class="ct_fs_44 ct_fw_700 mb-0">CarZone <span class="ct_text_red">{{'Reels' |
                                          translate}}</span> </h2>
                              <span class="ct_line_animation"></span>
                        </div>
                  </div>
            </div>

            <div class="row mt-5 animate__animated animate__fadeInUp animate__delay-1s">
                  <div class="col-md-12">
                        <div class="reelSwiper swiper ct_listing_slider">
                              <div class="swiper-wrapper">
                                    @for (item of carReels; track $index) {
                                    <div class="swiper-slide">
                                          <div class="ct_reels_card">
                                                <div class="mt-3 py-2" (click)="openReel(item)">
                                                      <div class="mobile-frame">
                                                            <video [src]="item.carReel" [poster]="item.reelThumbnails"
                                                                  class="videoPreview"></video>
                                                      </div>
                                                </div>
                                                <div
                                                      class="d-flex align-items-start justify-content-between gap-3 mt-1">
                                                      <div>
                                                            <p class="mb-0 ct_fw_600">{{item.fullModel}}
                                                            </p>

                                                            <p class="mb-0 ct_fw_500">{{item.carReelInfo}}
                                                            </p>
                                                      </div>
                                                      <i class="fa-bookmark"
                                                            [ngClass]="item.isSavedReel ? 'fa-solid' : 'fa-regular'"
                                                            (click)="item.isSavedReel ? removeFromSaved(item) : saveReel(item)"></i>
                                                </div>
                                          </div>
                                    </div>
                                    }
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</section>

<!-- get app Section S -->
<section class="ct_get_app_bg">
      <div class="container">
            <div class="row">
                  <div class="col-lg-6 mb-4 mb-lg-0">
                        <div class="ct_get_app_title">
                              <h5 class="ct_text_red ct_fw_700">{{'GetOurApp' | translate}}</h5>
                              <h2 class="ct_fs_44 ct_fw_700">{{'Download' | translate}} <span
                                          class="ct_text_red">CarZone</span> <br>
                                    {{'AppForFree' | translate}}</h2>
                              <p class="mb-0">{{'downLoadTitle' | translate}}</p>
                              <div class="d-flex align-items-center gap-3 mt-4">
                                    <a href="#">
                                          <img src="img/app_store.png" alt="" class="ct_img_download">
                                    </a>
                                    <a href="#">
                                          <img src="img/Google_Play.png" alt="" class="ct_img_download">
                                    </a>
                              </div>
                        </div>
                  </div>
                  <div class="col-lg-6 mb-4 mb-lg-0">
                        <div class="ct_app_mock">
                              <img src="img/car_zone_mock.png" alt="">
                        </div>
                  </div>
            </div>
      </div>
</section>
<!-- get app Section E -->