<section>
      <div class="container-fluid">
            <div class="row">
                  <div class="col-md-12">
                        <div class="ct_home_banner">
                              <ng-container *appRole="'buyer'">
                                    <h1 class="ct_ff_Epilogue ct_fs_74 ct_fw_700 text-white text-center  mb-0">List &
                                          Buy Cars
                                          Easily <br> With CarZone</h1>
                              </ng-container>
                              <ng-container *appRole="'seller'">
                                    <h1 class="ct_ff_Epilogue ct_fs_74 ct_fw_700 text-white text-center  mb-0">List Your
                                          Car <span class="ct_text_red">Today</span></h1>
                                    <div class="mt-4 text-center">
                                          <a routerLink="/choose-listing-plan" class="ct_red_btn">List Your Car</a>
                                    </div>
                              </ng-container>
                              <div class="owl-carousel owl-theme ct_login_slider">
                                    <div class="item">
                                          <div class="ct_slider_item">
                                                <div class="ct_card_item_animated">
                                                      <h1 class="ct_fs_44 ct_fw_800 text-white">Electric Class</h1>
                                                      <img src="img/car_slide_1.png" alt="">
                                                </div>
                                          </div>
                                    </div>
                                    <div class="item">
                                          <div class="ct_slider_item">
                                                <div class="ct_card_item_animated">
                                                      <h1 class="ct_fs_64 ct_fw_800 text-white">Business SUV</h1>
                                                      <img src="img/car_slide_2.png" alt="">
                                                </div>
                                          </div>
                                    </div>
                                    <div class="item">
                                          <div class="ct_slider_item">
                                                <div class="ct_card_item_animated">
                                                      <h1 class="ct_fs_64 ct_fw_800 text-white">Luxury Sedan</h1>
                                                      <img src="img/car_slide_3.png" alt="">
                                                </div>
                                          </div>
                                    </div>
                                    <div class="item">
                                          <div class="ct_slider_item">
                                                <div class="ct_card_item_animated">
                                                      <h1 class="ct_fs_64 ct_fw_800 text-white">SUV</h1>
                                                      <img src="img/car_slide_4.png" alt="">
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>

                  </div>

            </div>

      </div>
</section>


<!-- about section S -->
<section class="ct_py_70">
      <div class="container">
            <div class="row align-items-center">
                  <div class="col-md-5 mb-4 mb-md-0">
                        <div class="ct_about_img animate__animated animate__fadeInLeft animate__delay-1s">
                              <img src="img/about_us.png" alt="">
                        </div>
                  </div>
                  <div
                        class="col-md-6 offset-md-1 mb-4 mb-md-0 animate__animated animate__fadeInRight animate__delay-1s">
                        <h5 class="ct_text_red ct_fw_700"> About Us</h5>
                        <h2 class="ct_fs_44 ct_fw_700">Connecting Car Buyers & Sellers, Hassle-Free</h2>
                        <p class="mb-0">CarZone is a trusted online marketplace where you can buy and sell cars with
                              ease. Whether you are looking for your dream car or planning to sell your old one, our
                              platform makes the process simple, transparent, and convenient. Chat directly with
                              sellers, explore verified listings, and take the next step towards your perfect ride.</p>
                  </div>

            </div>

      </div>
</section>
<!-- about section E -->

<!-- counter section S Buyer -->
<ng-container *appRole="'buyer'">
      <section class="ct_counter_bg animate__animated animate__fadeInUp animate__delay-1s">
            <div class="container">
                  <div class="row " id="counter">
                        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                              <div class="ct_counter_box">
                                    <div class="ct_counter_icon">
                                          <img src="img/car_listed_icon.svg" alt="">

                                    </div>
                                    <div>
                                          <h4 class="ct_fs_35 ct_fw_700 ct_ff_Epilogue mb-0 text-white counter-value"
                                                data-count="500">0</h4>
                                          <p class="mb-0 text-white">Cars Listed</p>
                                    </div>

                              </div>

                        </div>
                        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                              <div class="ct_counter_box">
                                    <div class="ct_counter_icon">
                                          <img src="img/active_buyer_icon.svg" alt="">

                                    </div>
                                    <div>
                                          <h4 class="ct_fs_35 ct_fw_700 ct_ff_Epilogue mb-0 text-white counter-value"
                                                data-count="23160">0</h4>
                                          <p class="mb-0 text-white">Active Buyers</p>
                                    </div>

                              </div>

                        </div>
                        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                              <div class="ct_counter_box">
                                    <div class="ct_counter_icon">
                                          <img src="img/seller_icon.svg" alt="">

                                    </div>
                                    <div>
                                          <h4 class="ct_fs_35 ct_fw_700 ct_ff_Epilogue mb-0 text-white counter-value"
                                                data-count="1500">0</h4>
                                          <p class="mb-0 text-white">Verified Sellers</p>
                                    </div>

                              </div>

                        </div>
                        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                              <div class="ct_counter_box">
                                    <div class="ct_counter_icon">
                                          <img src="img/categories_icon.svg" alt="">

                                    </div>
                                    <div>
                                          <h4 class="ct_fs_35 ct_fw_700 ct_ff_Epilogue mb-0 text-white counter-value"
                                                data-count="20">0</h4>
                                          <p class="mb-0 text-white">Categories Available</p>
                                    </div>

                              </div>

                        </div>

                  </div>

            </div>

      </section>
</ng-container>
<!-- counter section E -->

<!-- counter section S  Seller -->
<ng-container *appRole="'seller'">
      <section class="ct_counter_bg animate__animated animate__fadeInUp animate__delay-1s">
            <div class="container">
                  <div class="row " id="counter">
                        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                              <div class="ct_counter_box">
                                    <div class="ct_counter_icon">
                                          <img src="img/car_listed_icon.svg" alt="">

                                    </div>
                                    <div>
                                          <h4 class="ct_fs_35 ct_fw_700 ct_ff_Epilogue mb-0 text-white counter-value"
                                                data-count="500">0</h4>
                                          <p class="mb-0 text-white"> Available Cars</p>
                                    </div>

                              </div>

                        </div>
                        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                              <div class="ct_counter_box">
                                    <div class="ct_counter_icon">
                                          <img src="img/active_buyer_icon.svg" alt="">

                                    </div>
                                    <div>
                                          <h4 class="ct_fs_35 ct_fw_700 ct_ff_Epilogue mb-0 text-white counter-value"
                                                data-count="23160">0</h4>
                                          <p class="mb-0 text-white">Vehicles Stock</p>
                                    </div>

                              </div>

                        </div>
                        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                              <div class="ct_counter_box">
                                    <div class="ct_counter_icon">
                                          <img src="img/seller_icon.svg" alt="">

                                    </div>
                                    <div>
                                          <h4 class="ct_fs_35 ct_fw_700 ct_ff_Epilogue mb-0 text-white counter-value"
                                                data-count="1500">0</h4>
                                          <p class="mb-0 text-white">Dealers Served</p>
                                    </div>

                              </div>

                        </div>
                        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                              <div class="ct_counter_box">
                                    <div class="ct_counter_icon">
                                          <img src="img/categories_icon.svg" alt="">

                                    </div>
                                    <div>
                                          <h4 class="ct_fs_35 ct_fw_700 ct_ff_Epilogue mb-0 text-white counter-value"
                                                data-count="220">0</h4>
                                          <p class="mb-0 text-white">vehicles on sale
                                          </p>
                                    </div>

                              </div>

                        </div>

                  </div>

            </div>

      </section>
</ng-container>
<!-- counter section E -->
<ng-container *appRole="'seller'">
      <section class="ct_py_70">
            <div class="container">
                  <div class="row animate__animated animate__fadeInUp animate__delay-1s">
                        <div class="col-md-12">
                              <div class="text-center">
                                    <h2 class="ct_fs_44 ct_fw_700 mb-0">Active <span class="ct_text_red">Listings</span>
                                    </h2>
                                    <span class="ct_line_animation"></span>
                                    <p class="mt-2">Explore our handpicked selection of top-rated cars, carefully chosen
                                          for
                                          their quality,
                                          <br> value, and popularity. Don’t miss out on the best deals available right
                                          now.
                                    </p>

                              </div>

                        </div>

                  </div>

                  <div class="row mt-5 animate__animated animate__fadeInUp animate__delay-1s">
                        <div class="col-md-12">
                              <div class="owl-carousel owl-theme ct_listing_slider">
                                    <div class="item">
                                          <div class="ct_listing_card">
                                                <figure class="mb-0">
                                                      <div class="ct_listing_img">
                                                            <img src="img/car_11.jpg" alt="">
                                                            <i class="fa-regular fa-heart"></i>
                                                      </div>
                                                      <figcaption>
                                                            <h4 class="ct_fs_18 ct_fw_500 text-white mb-0">CHF 32,445.00
                                                            </h4>
                                                            <a href="car-detail.html" class="ct_fs_22 ct_fw_600">BMW</a>
                                                      </figcaption>

                                                </figure>

                                          </div>
                                    </div>
                                    <div class="item">
                                          <div class="ct_listing_card">
                                                <figure class="mb-0">
                                                      <div class="ct_listing_img">
                                                            <img src="img/car_22.jpg" alt="">
                                                            <i class="fa-regular fa-heart"></i>
                                                      </div>
                                                      <figcaption>
                                                            <h4 class="ct_fs_18 ct_fw_500 text-white mb-0">CHF 32,445.00
                                                            </h4>
                                                            <a href="car-detail.html" class="ct_fs_22 ct_fw_600">SUV</a>
                                                      </figcaption>

                                                </figure>

                                          </div>
                                    </div>
                                    <div class="item">
                                          <div class="ct_listing_card">
                                                <figure class="mb-0">
                                                      <div class="ct_listing_img">
                                                            <img src="img/car_33.jpg" alt="">
                                                            <i class="fa-regular fa-heart"></i>
                                                      </div>
                                                      <figcaption>
                                                            <h4 class="ct_fs_18 ct_fw_500 text-white mb-0">CHF 32,445.00
                                                            </h4>
                                                            <a href="car-detail.html"
                                                                  class="ct_fs_22 ct_fw_600">Sedan</a>
                                                      </figcaption>

                                                </figure>

                                          </div>
                                    </div>
                                    <div class="item">
                                          <div class="ct_listing_card">
                                                <figure class="mb-0">
                                                      <div class="ct_listing_img">
                                                            <img src="img/car_44.jpg" alt="">
                                                            <i class="fa-regular fa-heart"></i>
                                                      </div>
                                                      <figcaption>
                                                            <h4 class="ct_fs_18 ct_fw_500 text-white mb-0">CHF 32,445.00
                                                            </h4>
                                                            <a href="car-detail.html"
                                                                  class="ct_fs_22 ct_fw_600">Ferrari</a>
                                                      </figcaption>

                                                </figure>

                                          </div>
                                    </div>
                                    <div class="item">
                                          <div class="ct_listing_card">
                                                <figure class="mb-0">
                                                      <div class="ct_listing_img">
                                                            <img src="img/car_4.jpg" alt="">
                                                            <i class="fa-regular fa-heart"></i>
                                                      </div>
                                                      <figcaption>
                                                            <h4 class="ct_fs_18 ct_fw_500 text-white mb-0">CHF 32,445.00
                                                            </h4>
                                                            <a href="car-detail.html"
                                                                  class="ct_fs_22 ct_fw_600">Ferrari</a>
                                                      </figcaption>

                                                </figure>

                                          </div>
                                    </div>
                                    <div class="item">
                                          <div class="ct_listing_card">
                                                <figure class="mb-0">
                                                      <div class="ct_listing_img">
                                                            <img src="img/car_4.jpg" alt="">
                                                            <i class="fa-regular fa-heart"></i>
                                                      </div>
                                                      <figcaption>
                                                            <h4 class="ct_fs_18 ct_fw_500 text-white mb-0">CHF 32,445.00
                                                            </h4>
                                                            <a href="car-detail.html"
                                                                  class="ct_fs_22 ct_fw_600">Ferrari</a>
                                                      </figcaption>

                                                </figure>

                                          </div>
                                    </div>
                              </div>

                        </div>

                  </div>

            </div>
      </section>

      <section class="ct_py_70 pt-0">
            <div class="container">
                  <div class="row animate__animated animate__fadeInUp animate__delay-1s">
                        <div class="col-md-12">
                              <div class="text-center">
                                    <h2 class="ct_fs_44 ct_fw_700 mb-0">Pending <span
                                                class="ct_text_red">Renewals</span>
                                    </h2>
                                    <span class="ct_line_animation"></span>
                                    <p class="mt-2">Explore our handpicked selection of top-rated cars, carefully chosen
                                          for
                                          their quality,
                                          <br> value, and popularity. Don’t miss out on the best deals available right
                                          now.
                                    </p>

                              </div>

                        </div>

                  </div>

                  <div class="row mt-5 animate__animated animate__fadeInUp animate__delay-1s">
                        <div class="col-md-12">
                              <div class="owl-carousel owl-theme ct_listing_slider">
                                    <div class="item">
                                          <div class="ct_listing_card">
                                                <figure class="mb-0">
                                                      <div class="ct_listing_img">
                                                            <img src="img/car_11.jpg" alt="">
                                                            <i class="fa-regular fa-heart"></i>
                                                      </div>
                                                      <figcaption>
                                                            <h4 class="ct_fs_18 ct_fw_500 text-white mb-0">CHF 32,445.00
                                                            </h4>
                                                            <a href="car-detail.html" class="ct_fs_22 ct_fw_600">BMW</a>
                                                      </figcaption>

                                                </figure>

                                          </div>
                                    </div>
                                    <div class="item">
                                          <div class="ct_listing_card">
                                                <figure class="mb-0">
                                                      <div class="ct_listing_img">
                                                            <img src="img/car_22.jpg" alt="">
                                                            <i class="fa-regular fa-heart"></i>
                                                      </div>
                                                      <figcaption>
                                                            <h4 class="ct_fs_18 ct_fw_500 text-white mb-0">CHF 32,445.00
                                                            </h4>
                                                            <a href="car-detail.html" class="ct_fs_22 ct_fw_600">SUV</a>
                                                      </figcaption>

                                                </figure>

                                          </div>
                                    </div>
                                    <div class="item">
                                          <div class="ct_listing_card">
                                                <figure class="mb-0">
                                                      <div class="ct_listing_img">
                                                            <img src="img/car_33.jpg" alt="">
                                                            <i class="fa-regular fa-heart"></i>
                                                      </div>
                                                      <figcaption>
                                                            <h4 class="ct_fs_18 ct_fw_500 text-white mb-0">CHF 32,445.00
                                                            </h4>
                                                            <a href="car-detail.html"
                                                                  class="ct_fs_22 ct_fw_600">Sedan</a>
                                                      </figcaption>

                                                </figure>

                                          </div>
                                    </div>
                                    <div class="item">
                                          <div class="ct_listing_card">
                                                <figure class="mb-0">
                                                      <div class="ct_listing_img">
                                                            <img src="img/car_44.jpg" alt="">
                                                            <i class="fa-regular fa-heart"></i>
                                                      </div>
                                                      <figcaption>
                                                            <h4 class="ct_fs_18 ct_fw_500 text-white mb-0">CHF 32,445.00
                                                            </h4>
                                                            <a href="car-detail.html"
                                                                  class="ct_fs_22 ct_fw_600">Ferrari</a>
                                                      </figcaption>

                                                </figure>

                                          </div>
                                    </div>
                                    <div class="item">
                                          <div class="ct_listing_card">
                                                <figure class="mb-0">
                                                      <div class="ct_listing_img">
                                                            <img src="img/car_4.jpg" alt="">
                                                            <i class="fa-regular fa-heart"></i>
                                                      </div>
                                                      <figcaption>
                                                            <h4 class="ct_fs_18 ct_fw_500 text-white mb-0">CHF 32,445.00
                                                            </h4>
                                                            <a href="car-detail.html"
                                                                  class="ct_fs_22 ct_fw_600">Ferrari</a>
                                                      </figcaption>

                                                </figure>

                                          </div>
                                    </div>
                                    <div class="item">
                                          <div class="ct_listing_card">
                                                <figure class="mb-0">
                                                      <div class="ct_listing_img">
                                                            <img src="img/car_4.jpg" alt="">
                                                            <i class="fa-regular fa-heart"></i>
                                                      </div>
                                                      <figcaption>
                                                            <h4 class="ct_fs_18 ct_fw_500 text-white mb-0">CHF 32,445.00
                                                            </h4>
                                                            <a href="car-detail.html"
                                                                  class="ct_fs_22 ct_fw_600">Ferrari</a>
                                                      </figcaption>

                                                </figure>

                                          </div>
                                    </div>
                              </div>

                        </div>

                  </div>

            </div>
      </section>
</ng-container>

<ng-container *appRole="'buyer'">
      <section class="ct_py_70">
            <div class="container">
                  <div class="row animate__animated animate__fadeInUp animate__delay-1s">
                        <div class="col-md-12">
                              <div class="text-center">
                                    <h2 class="ct_fs_44 ct_fw_700 mb-0">Top <span
                                                class="ct_text_red">Cars</span>
                                    </h2>
                                    <span class="ct_line_animation"></span>
                                    <p class="mt-2">Explore our handpicked selection of top-rated cars, carefully chosen
                                          for
                                          their quality, <br> value, and popularity. Don’t miss out on the best deals
                                          available right now.</p>

                              </div>

                        </div>

                  </div>

                  <div class="row mt-5 animate__animated animate__fadeInUp animate__delay-1s">
                        <div class="col-md-12">
                              <div class="owl-carousel owl-theme ct_listing_slider">
                                    <div class="item">
                                          <div class="ct_listing_card">
                                                <figure class="mb-0">
                                                      <div class="ct_listing_img">
                                                            <img src="img/car_11.jpg" alt="">
                                                            <i class="fa-regular fa-heart"></i>
                                                      </div>
                                                      <figcaption>
                                                            <h4 class="ct_fs_18 ct_fw_500 text-white mb-0">CHF 32,445.00
                                                            </h4>
                                                            <a routerLink="/car-detail"
                                                                  class="ct_fs_22 ct_fw_600">BMW</a>
                                                      </figcaption>

                                                </figure>

                                          </div>
                                    </div>
                                    <div class="item">
                                          <div class="ct_listing_card">
                                                <figure class="mb-0">
                                                      <div class="ct_listing_img">
                                                            <img src="img/car_22.jpg" alt="">
                                                            <i class="fa-regular fa-heart"></i>
                                                      </div>
                                                      <figcaption>
                                                            <h4 class="ct_fs_18 ct_fw_500 text-white mb-0">CHF 32,445.00
                                                            </h4>
                                                            <a routerLink="/car-detail"
                                                                  class="ct_fs_22 ct_fw_600">SUV</a>
                                                      </figcaption>

                                                </figure>

                                          </div>
                                    </div>
                                    <div class="item">
                                          <div class="ct_listing_card">
                                                <figure class="mb-0">
                                                      <div class="ct_listing_img">
                                                            <img src="img/car_33.jpg" alt="">
                                                            <i class="fa-regular fa-heart"></i>
                                                      </div>
                                                      <figcaption>
                                                            <h4 class="ct_fs_18 ct_fw_500 text-white mb-0">CHF 32,445.00
                                                            </h4>
                                                            <a routerLink="/car-detail"
                                                                  class="ct_fs_22 ct_fw_600">Sedan</a>
                                                      </figcaption>

                                                </figure>

                                          </div>
                                    </div>
                                    <div class="item">
                                          <div class="ct_listing_card">
                                                <figure class="mb-0">
                                                      <div class="ct_listing_img">
                                                            <img src="img/car_44.jpg" alt="">
                                                            <i class="fa-regular fa-heart"></i>
                                                      </div>
                                                      <figcaption>
                                                            <h4 class="ct_fs_18 ct_fw_500 text-white mb-0">CHF 32,445.00
                                                            </h4>
                                                            <a routerLink="/car-detail"
                                                                  class="ct_fs_22 ct_fw_600">Ferrari</a>
                                                      </figcaption>

                                                </figure>

                                          </div>
                                    </div>
                                    <div class="item">
                                          <div class="ct_listing_card">
                                                <figure class="mb-0">
                                                      <div class="ct_listing_img">
                                                            <img src="img/car_4.jpg" alt="">
                                                            <i class="fa-regular fa-heart"></i>
                                                      </div>
                                                      <figcaption>
                                                            <h4 class="ct_fs_18 ct_fw_500 text-white mb-0">CHF 32,445.00
                                                            </h4>
                                                            <a routerLink="/car-detail"
                                                                  class="ct_fs_22 ct_fw_600">Ferrari</a>
                                                      </figcaption>

                                                </figure>

                                          </div>
                                    </div>
                                    <div class="item">
                                          <div class="ct_listing_card">
                                                <figure class="mb-0">
                                                      <div class="ct_listing_img">
                                                            <img src="img/car_4.jpg" alt="">
                                                            <i class="fa-regular fa-heart"></i>
                                                      </div>
                                                      <figcaption>
                                                            <h4 class="ct_fs_18 ct_fw_500 text-white mb-0">CHF 32,445.00
                                                            </h4>
                                                            <a routerLink="/car-detail"
                                                                  class="ct_fs_22 ct_fw_600">Ferrari</a>
                                                      </figcaption>

                                                </figure>

                                          </div>
                                    </div>
                              </div>

                        </div>

                  </div>

            </div>
      </section>
</ng-container>

<!-- why Choose us section S -->
<section class="ct_why_choose_bg">
      <div class="container">
            <div class="row">
                  <div class="col-lg-6 mb-4">
                        <div class="">
                              <h2 class="ct_fs_44 ct_fw_700 text-white">Why Choose <span
                                          class="ct_text_red">CarZone?</span></h2>
                              <p class="mb-0 text-white">CarZone makes buying and selling cars simple, secure, and
                                    stress-free. Here’s why thousands of users trust us every day.</p>

                              <div class="ct_why_choose_img">
                                    <img src="img/why_choose_car.png" alt="">
                              </div>
                        </div>

                  </div>
                  <div class="col-lg-6 mb-4">
                        <div class="row">
                              <div class="col-md-6 col-sm-6  mt-lg-5">
                                    <div class="ct_why_choose_card mb-4">
                                          <figure>
                                                <div class="ct_why_choose_icon">
                                                      <img src="img/wide_selection_car_of_icon.svg" alt="">

                                                </div>
                                                <figcaption>
                                                      <h4 class="ct_fs_20 ct_fw_700">Wide Selection of Cars</h4>
                                                      <p class="mb-0 ct_fs_14">From hatchbacks to luxury SUVs, explore
                                                            thousands of listings across every category and price range,
                                                            all in one place.</p>
                                                </figcaption>
                                          </figure>

                                    </div>
                                    <div class="ct_why_choose_card mb-4">
                                          <figure>
                                                <div class="ct_why_choose_icon">
                                                      <img src="img/verified_seller_icon.svg" alt="">

                                                </div>
                                                <figcaption>
                                                      <h4 class="ct_fs_20 ct_fw_700">Verified Sellers</h4>
                                                      <p class="mb-0 ct_fs_14">Every seller goes through our
                                                            verification process so you can connect with genuine people
                                                            and avoid scams.</p>
                                                </figcaption>
                                          </figure>

                                    </div>
                              </div>
                              <div class="col-md-6 col-sm-6 ">
                                    <div class="ct_why_choose_card mb-4">
                                          <figure>
                                                <div class="ct_why_choose_icon">
                                                      <img src="img/easy_chat_and_negotiation_icon.svg" alt="">

                                                </div>
                                                <figcaption>
                                                      <h4 class="ct_fs_20 ct_fw_700">Easy Chat & Negotiation</h4>
                                                      <p class="mb-0 ct_fs_14">Contact sellers directly through our
                                                            in-app chat, ask questions, and negotiate deals without any
                                                            middlemen.</p>
                                                </figcaption>
                                          </figure>

                                    </div>
                                    <div class="ct_why_choose_card mb-4">
                                          <figure>
                                                <div class="ct_why_choose_icon">
                                                      <img src="img/zero_commission_listing_icon.svg" alt="">


                                                </div>
                                                <figcaption>
                                                      <h4 class="ct_fs_20 ct_fw_700">Zero Commission Listing</h4>
                                                      <p class="mb-0 ct_fs_14">List your car for free and keep 100% of
                                                            your earnings — no hidden charges or extra commission.</p>
                                                </figcaption>
                                          </figure>

                                    </div>
                              </div>

                        </div>
                  </div>

            </div>
      </div>
</section>
<!-- why Choose us section E -->


<section class="ct_py_70">
      <div class="container">
            <div class="row animate__animated animate__fadeInUp animate__delay-1s">
                  <div class="col-md-12">
                        <div class="text-center">
                              <h2 class="ct_fs_44 ct_fw_700 mb-0">CarZone <span class="ct_text_red">Reels</span> </h2>
                              <span class="ct_line_animation"></span>

                        </div>

                  </div>

            </div>

            <div class="row mt-5 animate__animated animate__fadeInUp animate__delay-1s">
                  <div class="col-md-12">
                        <div class="owl-carousel owl-theme ct_listing_slider">
                              <div class="item">
                                    <div class="ct_reel_card">
                                          <img src="img/car-1.png" alt="">
                                          <a href="#" class="ct_play_icon">
                                                <i class="fa-solid fa-play"></i>

                                          </a>

                                    </div>
                              </div>
                              <div class="item">
                                    <div class="ct_reel_card">
                                          <img src="img/car-1.png" alt="">
                                          <a href="#" class="ct_play_icon">
                                                <i class="fa-solid fa-play"></i>

                                          </a>

                                    </div>
                              </div>
                              <div class="item">
                                    <div class="ct_reel_card">
                                          <img src="img/car-1.png" alt="">
                                          <a href="#" class="ct_play_icon">
                                                <i class="fa-solid fa-play"></i>

                                          </a>

                                    </div>
                              </div>
                              <div class="item">
                                    <div class="ct_reel_card">
                                          <img src="img/car-1.png" alt="">
                                          <a href="#" class="ct_play_icon">
                                                <i class="fa-solid fa-play"></i>

                                          </a>

                                    </div>
                              </div>
                              <div class="item">
                                    <div class="ct_reel_card">
                                          <img src="img/car-1.png" alt="">
                                          <a href="#" class="ct_play_icon">
                                                <i class="fa-solid fa-play"></i>

                                          </a>

                                    </div>
                              </div>
                              <div class="item">
                                    <div class="ct_reel_card">
                                          <img src="img/car-1.png" alt="">
                                          <a href="#" class="ct_play_icon">
                                                <i class="fa-solid fa-play"></i>

                                          </a>

                                    </div>
                              </div>
                        </div>

                  </div>

            </div>

      </div>
</section>

<!-- get app Section S -->
<section class="ct_get_app_bg">
      <div class="container">
            <div class="row">
                  <div class="col-lg-6 mb-4 mb-lg-0">
                        <div class="ct_get_app_title">
                              <h5 class="ct_text_red ct_fw_700">Get Our App</h5>
                              <h2 class="ct_fs_44 ct_fw_700">Download <span class="ct_text_red">Our CarZone</span> <br>
                                    App For Free</h2>
                              <p class="mb-0">Buy and sell cars anytime, anywhere. Get instant access to thousands of
                                    listings, chat with sellers, and manage your deals on the go.</p>
                              <div class="d-flex align-items-center gap-3 mt-4">
                                    <a href="#">
                                          <img src="img/app_store.png" alt="" class="ct_img_download">
                                    </a>
                                    <a href="#">
                                          <img src="img/Google_Play.png" alt="" class="ct_img_download">
                                    </a>

                              </div>

                        </div>

                  </div>
                  <div class="col-lg-6 mb-4 mb-lg-0">
                        <div class="ct_app_mock">
                              <img src="img/car_zone_mock.png" alt="">
                        </div>
                  </div>

            </div>

      </div>

</section>
<!-- get app Section E -->