<section class="ct_login_main_bg">
      <div class="container">
            <div class="row">
                  <div class="col-xxl-6 col-xl-7 col-lg-8 mx-auto">
                        <div class="ct_login_white_bg ct_custom_scroll">
                              <img src="img/carzone_logo_black.png" alt="">
                              <h4 class="ct_fw_700 ct_fs_28 text-white text-center mb-3">{{'WelcomeTo' | translate}}
                                    <span class="ct_text_red">CarZone</span> </h4>
                              <form [formGroup]="Form" (ngSubmit)="onSubmit()">
                                    @if(formStep === 1){
                                    <div class="form-group mb-4">
                                          <label for="" class="mb-2 ct_fw_600 text-white">{{'FullName' |
                                                translate}}</label>
                                          <input type="text" class="form-control ct_input"
                                                placeholder="{{'Enter' | translate}} {{'FullName' | translate}}"
                                                formControlName="fullName">
                                          <small class="text-danger">{{validationErrorService.getErrorMessage(('FullName'
                                                | translate), Form.get("fullName"))}}</small>
                                    </div>
                                    <div class="row">
                                          <div class="col-md-6">
                                                <div class="form-group mb-4">
                                                      <label for="" class="mb-2 ct_fw_600 text-white">{{'Email' |
                                                            translate}}</label>
                                                      <input type="email" class="form-control ct_input"
                                                            placeholder="{{'Enter' | translate}} {{'Email' | translate}}"
                                                            formControlName="email">
                                                      <small class="text-danger">{{validationErrorService.getErrorMessage(('Email'
                                                            | translate), Form.get("email"))}}</small>
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group mb-4">
                                                      <label for="" class="mb-2 ct_fw_600 text-white">{{'PhoneNumber' |
                                                            translate}}</label>
                                                      <ngx-intl-tel-input name="phone"
                                                            [cssClass]="'form-control ct_input w-full ps-5 ct_pe_90'"
                                                            [enableAutoCountrySelect]="true" [enablePlaceholder]="true"
                                                            [searchCountryFlag]="true"
                                                            [customPlaceholder]="('Enter' | translate) + ' ' + ('PhoneNumber' | translate)"
                                                            [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                                            [selectFirstCountry]="false"
                                                            [selectedCountryISO]="selectedCountry" [maxLength]="15"
                                                            [phoneValidation]="true" formControlName="phoneNumber">
                                                      </ngx-intl-tel-input>
                                                      <small class="text-danger">{{validationErrorService.getErrorMessage(('PhoneNumber'
                                                            | translate), Form.get("phoneNumber"))}}</small>
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group mb-4">
                                                      <label for="" class="mb-2 ct_fw_600 text-white">{{'Password' |
                                                            translate}}</label>
                                                      <div class="position-relative">
                                                            <input [type]="isShowPassword ? 'text' : 'password'"
                                                                  class="form-control ct_input"
                                                                  placeholder="{{'Enter' | translate}} {{'Password' | translate}}"
                                                                  formControlName="password">
                                                            <i class="fa-solid ct_show_eye"
                                                                  [ngClass]="isShowPassword ? 'fa-eye' : 'fa-eye-slash'"
                                                                  (click)="isShowPassword = !isShowPassword"></i>
                                                      </div>
                                                      <small class="text-danger">{{validationErrorService.getErrorMessage(('Password'
                                                            | translate), Form.get("password"))}}</small>
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group mb-4">
                                                      <label for=""
                                                            class="mb-2 ct_fw_600 text-white">{{'ConfirmPassword' |
                                                            translate}}</label>
                                                      <div class="position-relative">
                                                            <input [type]="isShowConfirmPassword ? 'text' : 'password'"
                                                                  class="form-control ct_input"
                                                                  placeholder="{{'Enter' | translate}} {{'ConfirmPassword' | translate}}"
                                                                  formControlName="confirmPassword">
                                                            <i class="fa-solid ct_show_eye"
                                                                  [ngClass]="isShowConfirmPassword ? 'fa-eye' : 'fa-eye-slash'"
                                                                  (click)="isShowConfirmPassword = !isShowConfirmPassword"></i>
                                                      </div>
                                                      <small class="text-danger">{{validationErrorService.getErrorMessage(('ConfirmPassword'
                                                            | translate), Form.get("confirmPassword"))}}</small>
                                                      <small *ngIf="Form.errors?.['passwordMismatch'] && !Form.controls['confirmPassword'].errors?.['required']"
                                                            class="text-danger">{{'passwordNotMatch' |
                                                            translate}}</small>
                                                </div>
                                          </div>
                                          <div class="col-md-12">
                                                <div class="form-group mb-4">
                                                      <label for="" class="mb-2 ct_fw_600 text-white">{{'TypeOfSeller' |
                                                            translate}}</label>
                                                      <div
                                                            class="d-flex justify-content-between align-items-center gap-3">
                                                            <label for="flexRadioDefault1"
                                                                  class="d-flex align-items-center gap-3 custom_border"
                                                                  [ngClass]="Form.get('typeOfSeller')?.value == 'personal' ? 'active' : ''">
                                                                  <input type="radio" class="cutom_radio_input"
                                                                        formControlName="typeOfSeller" value="personal"
                                                                        id="flexRadioDefault1" />
                                                                  <div class="d-grid">
                                                                        <span class="text-white ct_fw_500">
                                                                              {{'PrivateSeller' | translate}}
                                                                        </span>
                                                                        <span class="text-white fs_10">
                                                                              {{'ForIndividualSellers' | translate}}
                                                                        </span>
                                                                  </div>
                                                            </label>
                                                            <label for="flexRadioDefault2"
                                                                  class="d-flex align-items-center gap-3 custom_border gap-3"
                                                                  [ngClass]="Form.get('typeOfSeller')?.value == 'business' ? 'active' : ''">
                                                                  <input type="radio" class="cutom_radio_input"
                                                                        formControlName="typeOfSeller" value="business"
                                                                        id="flexRadioDefault2" />
                                                                  <div class="d-grid">
                                                                        <span class="text-white ct_fw_500">
                                                                              {{'OfficialSeller' | translate}}
                                                                        </span>
                                                                        <span class="text-white fs_10">
                                                                              {{'ForBusinesses' | translate}}
                                                                        </span>
                                                                  </div>
                                                            </label>
                                                      </div>
                                                </div>
                                          </div>
                                          @if(!lat && !lng){
                                          <div class="form-group mb-4">
                                                <label for="" class="mb-2 ct_fw_600 text-white">{{'Address' |
                                                      translate}}</label>
                                                <textarea type="text" class="form-control ct_input h-auto"
                                                      placeholder="{{'Enter' | translate}} {{'Address' | translate}}"
                                                      formControlName="address"></textarea>
                                                <small class="text-danger">{{validationErrorService.getErrorMessage(('Address'
                                                      | translate), Form.get("address"))}}</small>
                                          </div>
                                          }
                                    </div>
                                    }@else {
                                    <div class="row">
                                          <div class="col-md-12">
                                                <div class="form-group mb-4">
                                                      <label for="" class="mb-2 ct_fw_600 text-white">{{'LegalEntity' |
                                                            translate}}</label>
                                                      <div
                                                            class="d-flex justify-content-between align-items-center gap-3 flex-wrap">
                                                            <label for="flexRadioDefault1"
                                                                  class="d-flex align-items-center gap-2 custom_border"
                                                                  [ngClass]="Form.get('legalForm')?.value == 'Sole Proprietorship' ? 'active' : ''">
                                                                  <input type="radio" class="cutom_radio_input"
                                                                        formControlName="legalForm"
                                                                        value="Sole Proprietorship"
                                                                        id="flexRadioDefault1" />
                                                                  <div class="d-grid">
                                                                        <span class="text-white ct_fw_500">
                                                                              {{'SoleProprietorship' | translate}}
                                                                        </span>
                                                                  </div>
                                                            </label>
                                                            <label for="flexRadioDefault2"
                                                                  class="d-flex align-items-center gap-3 custom_border gap-3"
                                                                  [ngClass]="Form.get('legalForm')?.value == 'Limited Liability Company (GmbH)' ? 'active' : ''">
                                                                  <input type="radio" class="cutom_radio_input"
                                                                        formControlName="legalForm"
                                                                        value="Limited Liability Company (GmbH)"
                                                                        id="flexRadioDefault2" />
                                                                  <div class="d-grid">
                                                                        <span class="text-white ct_fw_500">
                                                                              {{'LimitedLiabilityCompany' | translate}}
                                                                        </span>
                                                                  </div>
                                                            </label>
                                                            <label for="flexRadioDefault3"
                                                                  class="d-flex align-items-center gap-3 custom_border gap-3"
                                                                  [ngClass]="Form.get('legalForm')?.value == 'Corporation (AG)' ? 'active' : ''">
                                                                  <input type="radio" class="cutom_radio_input"
                                                                        formControlName="legalForm"
                                                                        value="Corporation (AG)"
                                                                        id="flexRadioDefault3" />
                                                                  <div class="d-grid">
                                                                        <span class="text-white ct_fw_500">
                                                                              {{'Corporation' | translate}}
                                                                        </span>
                                                                  </div>
                                                            </label>
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group mb-4">
                                                      <label for="" class="mb-2 ct_fw_600 text-white">{{'CompanyName' |
                                                            translate}}</label>
                                                      <input type="text" class="form-control ct_input"
                                                            placeholder="{{'Enter' | translate}} {{'CompanyName' | translate}}"
                                                            formControlName="companyName">
                                                      <small class="text-danger">{{validationErrorService.getErrorMessage(('CompanyName'
                                                            | translate), Form.get("companyName"))}}</small>
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group mb-4">
                                                      <label for="" class="mb-2 ct_fw_600 text-white">
                                                            {{'VAT' | translate}}</label>
                                                      <input type="text" class="form-control ct_input"
                                                            placeholder="{{'Enter' | translate}} {{'VAT' | translate}}"
                                                            formControlName="vat">
                                                      <small class="text-danger">{{validationErrorService.getErrorMessage(('VAT'
                                                            | translate), Form.get("vat"))}}</small>
                                                </div>
                                          </div>
                                          <div class="col-md-12">
                                                <div class="form-group mb-4">
                                                      <label for="" class="mb-2 ct_fw_600 text-white">{{'CompanyAddress'
                                                            | translate}}</label>
                                                      <textarea type="text" class="form-control ct_input h-auto"
                                                            placeholder="{{'Enter' | translate}} {{'CompanyAddress' | translate}}"
                                                            formControlName="companyAddress"></textarea>
                                                      <small class="text-danger">{{validationErrorService.getErrorMessage(('CompanyAddress'
                                                            | translate), Form.get("companyAddress"))}}</small>
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group mb-4">
                                                      <label for="" class="mb-2 ct_fw_600 text-white">
                                                            {{'City' | translate}}</label>
                                                      <input type="text" class="form-control ct_input"
                                                            placeholder="{{'Enter' | translate}} {{'City' | translate}}"
                                                            formControlName="city">
                                                      <small class="text-danger">{{validationErrorService.getErrorMessage(('City'
                                                            | translate), Form.get("city"))}}</small>
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group mb-4">
                                                      <label for="" class="mb-2 ct_fw_600 text-white">
                                                            {{'Pincode' | translate}}</label>
                                                      <input type="text" class="form-control ct_input"
                                                            placeholder="{{'Enter' | translate}} {{'Pincode' | translate}}"
                                                            formControlName="pincode">
                                                      <small class="text-danger">{{validationErrorService.getErrorMessage(('Pincode'
                                                            | translate), Form.get("pincode"))}}</small>
                                                </div>
                                          </div>
                                    </div>
                                    }

                                    <div class="text-center mt-4">
                                          @if(formStep === 1 && Form.get('typeOfSeller')?.value == 'business'){
                                          <button type="button" class="ct_red_btn px-5"
                                                (click)="nextStep()">{{'Continue' | translate}}</button>
                                          }@else {
                                          <app-submit-button [text]="'Sign Up'" [class]="'ct_red_btn px-5'"
                                                [isLoading]="loading"></app-submit-button>
                                          }
                                    </div>
                              </form>

                              <div class="ct_sign_in_text mt-4">
                                    <p class="mb-0">Or Sign Up With</p>
                              </div>
                              <div class="d-flex align-items-center justify-content-center gap-3">
                                    <button class="ct_google_btn">
                                          <img src="img/devicon_google.png" alt="">
                                          <h6 class="mb-0 ct_fs_16">Google</h6>
                                    </button>
                                    <button class="ct_google_btn">
                                          <img src="img/logos_facebook.png" alt="">
                                          <h6 class="mb-0 ct_fs_16">Facebook</h6>
                                    </button>

                              </div>
                              <p class="mb-0 text-white text-center mt-3"><span class="ct_text_op_6">
                                          {{'AlreadyHaveAnAccount' | translate}}? </span> <a routerLink="/login"
                                          class="ct_text_red ct_fw_600">
                                          {{'LogIn' | translate}}</a></p>

                        </div>
                  </div>
            </div>
      </div>
</section>