<section class="ct_py_70">
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <div>
                              <div
                                    class="ct_light_blue_outline d-flex align-items-center gap-3 justify-content-between">
                                    <p class="mb-0 ct_fw_600">{{'All' | translate}}</p>
                                    <p class="mb-0 ct_red_text ct_fw_500 ct_text_red">
                                          <i class="fa-solid fa-trash-can me-1"></i>
                                          {{'DeleteAll' | translate}}
                                    </p>
                              </div>
                              <ul class="mt-4 ct_notifications_scroll ct_custom_scroll">
                                    <li class="d-flex align-items-center gap-4 justify-content-between">
                                          <div>
                                                <h5 class="ct_fs_18 ct_fw_600 mb-1">Booking Confirmed!</h5>
                                                <p class="mb-0 ct_text_op_6">
                                                      Your payment was successful, and your apartment has been booked. A
                                                      confirmation email has been
                                                      sent with all the details. You can view your booking under "My
                                                      Bookings".
                                                </p>
                                          </div>
                                          <p class="mb-0 ct_white_nowrap">
                                                <span class="ct_circle_dot_8"></span>
                                                2 hours ago
                                          </p>
                                    </li>
                                    <li class="d-flex align-items-center gap-4  justify-content-between mt-4">
                                          <div>
                                                <h5 class="ct_fs_18 ct_fw_600 mb-1">Waiting for a Reply</h5>
                                                <p class="mb-0 ct_text_op_6">
                                                      We’ve notified the host about your message. Most hosts reply
                                                      within a few hours. Hang tight —
                                                      we’ll alert you as soon as they respond.
                                                </p>
                                          </div>
                                          <p class="mb-0 ct_white_nowrap">
                                                <span class="ct_circle_dot_8"></span>
                                                2 hours ago
                                          </p>
                                    </li>
                                    <li class="d-flex align-items-center gap-4  justify-content-between mt-4">
                                          <div>
                                                <h5 class="ct_fs_18 ct_fw_600 mb-1">Get Ready for Your Stay</h5>
                                                <p class="mb-0 ct_text_op_6">
                                                      Your check-in date is approaching! Don’t forget to contact the
                                                      host for check-in instructions and
                                                      prepare any required documents.
                                                </p>
                                          </div>
                                          <p class="mb-0 ct_white_nowrap">
                                                <span class="ct_circle_dot_8"></span>
                                                2 hours ago
                                          </p>
                                    </li>
                              </ul>
                        </div>
                  </div>
            </div>
      </div>
</section>