<section class="ct_py_70">
      <div class="container">
            <div class="row">
                  <div class="col-md-8 mx-auto">
                        <div class="ct_edit_profile_bg">
                              <form [formGroup]="Form" (ngSubmit)="onSubmit()">
                                    <div class="form-group mb-4">
                                          <label for="" class="mb-2 ct_fw_600 ">Current Password</label>
                                          <div class="position-relative">
                                                <input [type]="isShowCurrentPassword ? 'text' : 'password'"
                                                      class="form-control ct_input" placeholder="Enter Current Password"
                                                      formControlName="password">
                                                <i class="fa-solid ct_show_eye"
                                                      [ngClass]="isShowCurrentPassword ? 'fa-eye' : 'fa-eye-slash'"
                                                      (click)="isShowCurrentPassword = !isShowCurrentPassword"></i>
                                          </div>
                                          <small
                                                class="text-danger">{{validationErrorService.getErrorMessage("Current password", Form.get("password"))}}</small>
                                    </div>
                                    <div class="form-group mb-4">
                                          <label for="" class="mb-2 ct_fw_600 ">New Password</label>
                                          <div class="position-relative">
                                                <input [type]="isShowNewPassword ? 'text' : 'password'"
                                                      class="form-control ct_input" placeholder="Enter New Password"
                                                      formControlName="newPassword">
                                                <i class="fa-solid ct_show_eye"
                                                      [ngClass]="isShowNewPassword ? 'fa-eye' : 'fa-eye-slash'"
                                                      (click)="isShowNewPassword = !isShowNewPassword"></i>
                                          </div>
                                          <small
                                                class="text-danger">{{validationErrorService.getErrorMessage("New password", Form.get("newPassword"))}}</small>
                                          <small *ngIf="Form.errors?.['sameAsCurrent'] && !Form.controls['newPassword'].errors?.['required']"
                                                class="text-danger">New password cannot be same as current
                                                password.</small>
                                    </div>
                                    <div class="form-group mb-4">
                                          <label for="" class="mb-2 ct_fw_600 ">Confirm Password</label>
                                          <div class="position-relative">
                                                <input [type]="isShowConfPassword ? 'text' : 'password'"
                                                      class="form-control ct_input" placeholder="Enter Confirm Password"
                                                      formControlName="confirmPassword">
                                                <i class="fa-solid ct_show_eye"
                                                      [ngClass]="isShowConfPassword ? 'fa-eye' : 'fa-eye-slash'"
                                                      (click)="isShowConfPassword = !isShowConfPassword"></i>
                                          </div>
                                          <small
                                                class="text-danger">{{validationErrorService.getErrorMessage("Confirm password", Form.get("confirmPassword"))}}</small>
                                          <small *ngIf="Form.errors?.['passwordMismatch'] && !Form.controls['confirmPassword'].errors?.['required']"
                                                class="text-danger">Password does not match</small>
                                    </div>
                                    <div class="text-center mt-4">
                                          <app-submit-button [text]="'Save Changes'" [class]="'ct_red_btn'"
                                                [isLoading]="loading"></app-submit-button>
                                    </div>
                              </form>
                        </div>
                  </div>
            </div>
      </div>
</section>