<section class="ct_py_70">
      <div class="container">
            <div class="row">
                  <div class="col-lg-9 mb-4">
                        <form action="">
                              <div class="ct_edit_profile_bg mb-4">
                                    <h2 class="mb-4 ct_fs_20 ct_fw_700">Car Details</h2>
                                    <div class="row">
                                          <div class="col-md-12">
                                                <div class="form-group mb-4 text-start">
                                                      <label for="" class="mb-2 ct_fw_600">Vehicle Registration Number
                                                      </label>
                                                      <input type="text" class="form-control ct_input"
                                                            placeholder="Enter VRN" />
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group mb-4 text-start">
                                                      <label for="" class="mb-2 ct_fw_600">Car Model & Variant</label>
                                                      <input type="text" class="form-control ct_input"
                                                            placeholder="Enter Model" />
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group mb-4 text-start">
                                                      <label for="" class="mb-2 ct_fw_600">Brand Name</label>
                                                      <input type="text" class="form-control ct_input"
                                                            placeholder="Enter Brand Name" />
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group mb-4 text-start">
                                                      <label for="" class="mb-2 ct_fw_600">Sitting Capacity</label>
                                                      <input type="text" class="form-control ct_input"
                                                            placeholder="Enter eg. 7" />
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group mb-4 text-start">
                                                      <label for="" class="mb-2 ct_fw_600">Select Year</label>
                                                      <select class="form-control ct_input">
                                                            <option value="">Select year</option>
                                                            <option value="">1980</option>
                                                      </select>
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group mb-4 text-start">
                                                      <label for="" class="mb-2 ct_fw_600">Mileage (km)</label>
                                                      <input type="text" class="form-control ct_input"
                                                            placeholder="Enter Mileage" />
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group mb-4 text-start">
                                                      <label for="" class="mb-2 ct_fw_600">Fuel Type</label>
                                                      <select class="form-control ct_input">
                                                            <option value="">Select fuel type</option>
                                                            <option value="">Petrol</option>
                                                      </select>
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group mb-4 text-start">
                                                      <label for="" class="mb-2 ct_fw_600">Transmission</label>
                                                      <select class="form-control ct_input">
                                                            <option value="">Select transmisson</option>
                                                            <option value="">Petrol</option>
                                                      </select>
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group mb-4 text-start">
                                                      <label for="" class="mb-2 ct_fw_600">Engine Type</label>
                                                      <input type="text" class="form-control ct_input"
                                                            placeholder="Enter Engine Type" />
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group mb-4 text-start">
                                                      <label for="" class="mb-2 ct_fw_600">CO₂ Emissions</label>
                                                      <input type="text" class="form-control ct_input"
                                                            placeholder="Enter Mileage" />
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group mb-4 text-start">
                                                      <label for="" class="mb-2 ct_fw_600">Exterior Colour</label>
                                                      <input type="text" class="form-control ct_input"
                                                            placeholder="Enter Car Colour" />
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group mb-4 text-start">
                                                      <label for="" class="mb-2 ct_fw_600">Condition</label>
                                                      <input type="text" class="form-control ct_input"
                                                            placeholder="eg. Good Condition" />
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group mb-4 text-start">
                                                      <label for="" class="mb-2 ct_fw_600">Power Output</label>
                                                      <input type="text" class="form-control ct_input"
                                                            placeholder="110 kW (150 PS)" />
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group mb-4 text-start">
                                                      <label for="" class="mb-2 ct_fw_600">Features &
                                                            Specifications</label>
                                                      <input type="text" class="form-control ct_input"
                                                            placeholder="e.g. Leather Seats" />
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group mb-4 text-start">
                                                      <label for="" class="mb-2 ct_fw_600">MFK Inspection Date
                                                            (optional)</label>
                                                      <input type="text" class="form-control ct_input"
                                                            placeholder="Select inspection date" />
                                                </div>
                                          </div>
                                          <div class="col-md-12">
                                                <div class="form-group mb-4 text-start">
                                                      <label for="" class="mb-2 ct_fw_600">Do you offer leasing?</label>
                                                     <select class="form-control ct_input">
                                                      <option value="">Yes</option>
                                                      <option value="">No</option>
                                                     </select>
                                                </div>
                                          </div>
                                          <!-- When Seller Do offer Leasign Yes then show this div -->
                                           <div class="row">
                                                  <div class="col-md-6">
                                                      <div class="form-group mb-4 text-start">
                                                            <label for="" class="mb-2 ct_fw_600">Vehicle Type </label>
                                                             <select class="form-control ct_input">
                                                            <option value="">New Car</option>
                                                            <option value="">New Car</option>
                                                            <option value="">New Car</option>
                                                      </select>
                                                      </div> 

                                                </div>
                                                <div class="col-md-6">
                                                      <div class="form-group mb-4 text-start">
                                                            <label for="" class="mb-2 ct_fw_600">Duration </label>
                                                            <div class="position-relative">
                                                                  <input type="number" placeholder="Enter Duration" class="form-control ct_input pe-5">
                                                                  <span class="ct_show_eye">Months</span>
                                                            </div>
                                                      </div> 

                                                </div>
                                                <div class="col-md-6">
                                                      <div class="form-group mb-4 text-start">
                                                            <label for="" class="mb-2 ct_fw_600">Cash Purchase Price in CHF </label>
                                                            <div class="position-relative">
                                                                  <input type="number" placeholder="Enter Amount" class="form-control ct_input pe-5">
                                                                  <span class="ct_show_eye">CHF</span>
                                                            </div>
                                                      </div> 

                                                </div>
                                                <div class="col-md-6">
                                                      <div class="form-group mb-4 text-start">
                                                            <label for="" class="mb-2 ct_fw_600">Residual Value (in CHF incl. VAT) </label>
                                                            <div class="position-relative">
                                                                  <input type="number" placeholder="Enter Residual Value" class="form-control ct_input pe-5">
                                                                  <span class="ct_show_eye">CHF</span>
                                                            </div>
                                                      </div> 

                                                </div>
                                                 <div class="col-md-6">
                                                      <div class="form-group mb-4 text-start">
                                                            <label for="" class="mb-2 ct_fw_600">Km Mileage per Year </label>
                                                            <div class="position-relative">
                                                                  <input type="number" placeholder="Enter Km Mileage" class="form-control ct_input pe-5">
                                                                  <span class="ct_show_eye">CHF</span>
                                                            </div>
                                                      </div> 

                                                </div>
                                                 <div class="col-md-6">
                                                      <div class="form-group mb-4 text-start">
                                                            <label for="" class="mb-2 ct_fw_600">1st Leasing Rate / Down Payment (in CHF incl. VAT) </label>
                                                            <div class="position-relative">
                                                                  <input type="number" placeholder="Enter Leasing Rate / Down Payment " class="form-control ct_input pe-5">
                                                                  <span class="ct_show_eye">CHF</span>
                                                            </div>
                                                      </div> 

                                                </div>
                                                 <div class="col-md-12">
                                                      <div class="form-group mb-4 text-start">
                                                            <label for="" class="mb-2 ct_fw_600">Payment Protection</label>
                                                           <div class="d-flex align-items-center gap-2 flex-wrap">
                                                            <div class="d-flex align-items-center gap-1">
                                                                   <div class="form-check ct_custom_check2">
                                                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                                
                                                            </div>
                                                              <label for="">In Case of Death</label>
                                                            </div>
                                                            <div class="d-flex align-items-center gap-1">
                                                                   <div class="form-check ct_custom_check2">
                                                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                                  
                                                            </div>
                                                            <label for="">In Case of Unemployment</label>
                                                            </div>

                                                           </div>
                                                      </div> 

                                                </div>


                                           </div>
                                          <div class="col-md-12">
                                                <div class="form-group mb-4 text-start">
                                                      <label for="" class="mb-2 ct_fw_600">Description</label>
                                                      <textarea type="text" class="form-control ct_input h-auto"
                                                            rows="4" placeholder="Enter Description"></textarea>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="ct_edit_profile_bg mb-4">
                                    <div class="row">
                                          <div class="col-md-12">
                                                <h2 class="ct_fs_20 ct_fw_700 mb-4">Pricing & Location</h2>
                                                <div class="form-group mb-4 text-start">
                                                      <label for="" class="mb-2 ct_fw_600">Total Price
                                                      </label>
                                                      <div class="position-relative">
                                                            <input type="number" placeholder="Enter Amount"
                                                                  class="form-control ct_input pe-5" />
                                                            <span class="ct_show_eye">CHF</span>
                                                      </div>
                                                </div>
                                                <div class="form-group mb-4 text-start">
                                                      <label for="" class="mb-2 ct_fw_600">Location </label>
                                                      <select class="form-control ct_input">
                                                            <option value="">Select Location</option>
                                                            <option value="">Select Location</option>
                                                            <option value="">Select Location</option>
                                                      </select>
                                                </div>

                                                <div class="text-start mb-4">
                                                      <label for="" class="ct_fw_600 mb-2">Upload Photos & Video
                                                      </label>
                                                      <div
                                                            class="ct_upload_product_main ct_upload_product_main_180 d-none">
                                                            <svg width="33" height="33" viewBox="0 0 33 33" fill="none"
                                                                  xmlns="http://www.w3.org/2000/svg">
                                                                  <path d="M5.87174 22.0167C4.26376 20.9403 3.20508 19.1073 3.20508 17.027C3.20508 13.9023 5.59376 11.3354 8.64473 11.0528C9.26883 7.25653 12.5654 4.36035 16.5384 4.36035C20.5114 4.36035 23.808 7.25653 24.4321 11.0528C27.4831 11.3354 29.8717 13.9023 29.8717 17.027C29.8717 19.1073 28.8131 20.9403 27.2051 22.0167M11.2051 21.6937L16.5384 16.3604M16.5384 16.3604L21.8717 21.6937M16.5384 16.3604V28.3604"
                                                                        stroke="#9CA3AF" stroke-width="2.66667"
                                                                        stroke-linecap="round" stroke-linejoin="round">
                                                                  </path>
                                                            </svg>

                                                            <p class="text-center ct_fs_18 ct_text_op_07 mb-0">
                                                                  Upload your image here
                                                            </p>
                                                            <small class="text-center d-block ct_text_op_6">Maximum 10
                                                                  images, MP4 video up to 30 seconds
                                                            </small>
                                                            <label for="ct_upload_product">
                                                                  <input type="file" name="" id="ct_upload_product"
                                                                        class="d-none" />
                                                                  <div class="ct_browse_btn mt-3">
                                                                        <span>Browse Files</span>
                                                                  </div>
                                                            </label>
                                                      </div>

                                                      <div class="ct_multiple_img_div ct_custom_scroll mb-4 d-flex">
                                                            <div class="ct_uploaded_img123 position-relative">
                                                                  <div class="ct_uploaded_img_w">
                                                                        <img src="img/car-1.png" alt="" />
                                                                        <i class="fa-solid fa-xmark"></i>
                                                                  </div>
                                                            </div>
                                                            <div class="ct_uploaded_img123 position-relative">
                                                                  <div class="ct_uploaded_img_w">
                                                                        <img src="img/car-1.png" alt="" />
                                                                        <i class="fa-solid fa-xmark"></i>
                                                                  </div>
                                                            </div>
                                                            <div class="ct_uploaded_img123 position-relative">
                                                                  <div class="ct_uploaded_img_w">
                                                                        <img src="img/car-1.png" alt="" />
                                                                        <i class="fa-solid fa-xmark"></i>
                                                                  </div>
                                                            </div>
                                                            <div class="ct_uploaded_img123 position-relative">
                                                                  <div class="ct_uploaded_img_w">
                                                                        <img src="img/car-1.png" alt="" />
                                                                        <i class="fa-solid fa-xmark"></i>
                                                                  </div>
                                                            </div>
                                                            <div class="ct_uploaded_img123 position-relative">
                                                                  <div class="ct_uploaded_img_w">
                                                                        <img src="img/car-1.png" alt="" />
                                                                        <i class="fa-solid fa-xmark"></i>
                                                                  </div>
                                                            </div>
                                                            <div class="ct_uploaded_img123 position-relative">
                                                                  <div class="ct_uploaded_img_w">
                                                                        <img src="img/car-1.png" alt="" />
                                                                        <i class="fa-solid fa-xmark"></i>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                </div>

                                          </div>

                                    </div>
                              </div>

                              <div class="text-center mt-4">
                                    <!-- before payment edit listing show this line -->
                                    <!-- <p class="ct_text_red text-center mb-3">Valid for another 30 days.</p> -->
                                    <button class="ct_red_btn">Save Changes</button>
                                    <!-- before payment edit listing show this button -->
                                    <!-- <button class="ct_red_btn">Review and Proceed</button> -->
                              </div>
                        </form>

                  </div>
                  <div class="col-lg-3 mb-4">
                        <div class="ct_live_price_change_card h-auto d-block">
                              <div class=" ct_border_btm_1 pb-2 mb-2">
                                    <p class="mb-2">Nominal Annual Interest Rate</p>
                              <h4 class="ct_fs_24 ct_fw_700 mb-0 text-white">720.95</h4>
                              </div>
                             <div>
                               <p class="mb-1">Of Which Installment Protection</p>
                               <h4 class="ct_fs_24 ct_fw_700 mb-0 text-white">0</h4>
                             </div>

                             <p class="mb-0 mt-3">For your personalized leasing offer,contact your garage directly</p>

                        </div>

                  </div>

            </div>

      </div>
</section>