<section class="ct_py_70">
      <div class="container">
            <div class="row">
                  <div class="col-md-8 mx-auto">
                        <div class="ct_success_ful_bg">
                              <img src="img/successfull.png" alt="">
                              <h4 class="ct_fs_28 ct_fw_700 mb-2 text-center">Payment successful</h4>
                              <p class="mb-0 text-center ct_text_op_6">You have successfully purchased the slot plan.
                                    Thank you!
                              </p>
                              <div class="text-center mt-4">
                                    <a routerLink="/list-your-car" class="ct_red_btn">Continue</a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</section>