<section class="ct_py_70">
      <div class="container">
            <div class="row">
                  <div class="col-md-8 mx-auto">
                        <div class="ct_edit_profile_bg">
                              <form action="">
                                    <div class="ct_profile_img">
                                          <img [src]="'img/np_pro.png'" alt="">
                                          <label for="ct_profile_update">
                                                <input type="file" class="d-none" id="ct_profile_update">
                                                <div class="ct_upload_icon">
                                                      <img src="img/Camera.png" alt="">
                                                </div>
                                          </label>
                                    </div>

                                    <div class="form-group mb-4">
                                          <label for="" class="mb-2 ct_fw_600 ">Full Name</label>
                                          <input type="text" class="form-control ct_input" placeholder="Enter Full Name"
                                                value="Elizabeth Anderson">
                                    </div>
                                    <div class="form-group mb-4">
                                          <label for="" class="mb-2 ct_fw_600 ">Email Address</label>
                                          <input type="email" class="form-control ct_input"
                                                placeholder="Enter Email Address" value="Elizabeth Anderson" readonly>
                                    </div>
                                    <div class="form-group mb-4">
                                          <label for="" class="mb-2 ct_fw_600 ">Phone Number</label>
                                          <input type="text" class="form-control ct_input"
                                                placeholder="Enter Phone Number" value="+1 (415) 555-0123">
                                    </div>
                                    <ng-container *appRole="'seller'">
                                          <div class="form-group mb-4">
                                                <label for="" class="mb-2 ct_fw_600 ">Legal Form</label>
                                                <Select class="form-control ct_input">
                                                      <option value="">Select Legal Form</option>
                                                      <option value="">Select Legal Form</option>
                                                </Select>
                                          </div>
                                          <div class="form-group mb-4">
                                                <label for="" class="mb-2 ct_fw_600 ">Company Name</label>
                                                <input type="text" class="form-control ct_input"
                                                      placeholder="Enter Company Name">
                                          </div>
                                          <div class="form-group mb-4">
                                                <label for="" class="mb-2 ct_fw_600 ">VAT/Business Registration Number
                                                      (optional)</label>
                                                <input type="text" class="form-control ct_input"
                                                      placeholder="Enter Business Registration Number">
                                          </div>
                                          <div class="form-group mb-4">
                                                <label for="" class="mb-2 ct_fw_600 ">Company Address</label>
                                                <textarea type="text" class="form-control ct_input h-auto" rows="4"
                                                      placeholder="Enter Company Address"></textarea>
                                          </div>
                                    </ng-container>
                                    <div class="text-center mt-4">
                                          <button class="ct_red_btn">Save Changes</button>
                                    </div>
                              </form>
                        </div>
                  </div>
            </div>
      </div>
</section>