<section class="ct_py_70">
      <div class="container">
            <div class="row">
                  <div class="col-md-8 mx-auto">
                        <div class="ct_edit_profile_bg">
                              <form [formGroup]="Form" (ngSubmit)="onSubmit()">
                                    <div class="ct_profile_img">
                                          <img [src]="imagePreview || userData()?.profileImage ||'img/np_pro.png'"
                                                alt="">
                                          <label for="ct_profile_update">
                                                <input type="file" class="d-none" id="ct_profile_update"
                                                      accept="image/*" (change)="onProfileImage($event)">
                                                <div class="ct_upload_icon">
                                                      <img src="img/Camera.png" alt="">
                                                </div>
                                          </label>
                                    </div>

                                    <div class="form-group mb-4">
                                          <label for="" class="mb-2 ct_fw_600 ">{{'FullName' | translate}}</label>
                                          <input type="text" class="form-control ct_input"
                                                placeholder="{{'Enter' | translate}} {{'FullName' | translate | lowercase}}"
                                                formControlName="fullName">
                                          <small class="text-danger">{{validationErrorService.getErrorMessage("Full
                                                name", Form.get("fullName"))}}</small>
                                    </div>
                                    <div class="form-group mb-4">
                                          <label for="" class="mb-2 ct_fw_600 ">{{'EmailAddress' | translate}}</label>
                                          <input type="email" class="form-control ct_input"
                                                placeholder="{{'Enter' | translate}} {{'EmailAddress' | translate | lowercase}}"
                                                formControlName="email" readonly>
                                    </div>
                                    <div class="form-group mb-4">
                                          <label for="" class="mb-2 ct_fw_600 ">{{'PhoneNumber' | translate}}</label>
                                          <ngx-intl-tel-input name="phone"
                                                [cssClass]="'form-control ct_input w-full ps-5 ct_pe_90'"
                                                [enableAutoCountrySelect]="true" [enablePlaceholder]="true"
                                                [searchCountryFlag]="true"
                                                [customPlaceholder]="('Enter' | translate) + ' ' + ('PhoneNumber' | translate | lowercase)"
                                                [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name, SearchCountryField.DialCode]"
                                                [selectFirstCountry]="false" [selectedCountryISO]="selectedCountry"
                                                [maxLength]="15" [phoneValidation]="true" formControlName="phoneNumber">
                                          </ngx-intl-tel-input>
                                          <small class="text-danger">{{validationErrorService.getErrorMessage("Phone
                                                number", Form.get("phoneNumber"))}}</small>
                                    </div>
                                    <ng-container *appRole="'seller'">
                                          <div class="form-group mb-4">
                                                <label for="" class="mb-2 ct_fw_600 ">{{'TypeOfSeller' |
                                                      translate}}</label>
                                                <div class="d-flex justify-content-between align-items-center gap-3">
                                                      <label for="flexRadioDefault1"
                                                            class="d-flex align-items-center gap-3 custom_border"
                                                            [ngClass]="Form.get('typeOfSeller')?.value == 'personal' ? 'active' : ''">
                                                            <input type="radio" class="cutom_radio_input"
                                                                  formControlName="typeOfSeller" value="personal"
                                                                  id="flexRadioDefault1" />
                                                            <div class="d-grid">
                                                                  <span class=" ct_fw_500">
                                                                        {{'PrivateSeller' | translate}}
                                                                  </span>
                                                                  <span class=" fs_10">
                                                                        {{'ForIndividualSellers' | translate}}
                                                                  </span>
                                                            </div>
                                                      </label>
                                                      <label for="flexRadioDefault2"
                                                            class="d-flex align-items-center gap-3 custom_border gap-3"
                                                            [ngClass]="Form.get('typeOfSeller')?.value == 'business' ? 'active' : ''">
                                                            <input type="radio" class="cutom_radio_input"
                                                                  formControlName="typeOfSeller" value="business"
                                                                  id="flexRadioDefault2" />
                                                            <div class="d-grid">
                                                                  <span class=" ct_fw_500">
                                                                        {{'OfficialSeller' | translate}}
                                                                  </span>
                                                                  <span class=" fs_10">
                                                                        {{'ForBusinesses' | translate}}
                                                                  </span>
                                                            </div>
                                                      </label>
                                                </div>
                                          </div>
                                    </ng-container>

                                    <ng-container
                                          *ngIf="Form.get('typeOfSeller')?.value == 'business' && role == 'seller'">
                                          <div class="form-group mb-4">
                                                <label for="" class="mb-2 ct_fw_600 ">{{'LegalEntity' |
                                                      translate}}</label>
                                                <div
                                                      class="d-flex justify-content-between align-items-center gap-3 flex-wrap">
                                                      <label for="flexRadioDefault4"
                                                            class="d-flex align-items-center gap-2 custom_border"
                                                            [ngClass]="Form.get('legalForm')?.value == 'Sole Proprietorship' ? 'active' : ''">
                                                            <input type="radio" class="cutom_radio_input"
                                                                  formControlName="legalForm"
                                                                  value="Sole Proprietorship" id="flexRadioDefault4" />
                                                            <div class="d-grid">
                                                                  <span class=" ct_fw_500">
                                                                        {{'SoleProprietorship' | translate}}
                                                                  </span>
                                                            </div>
                                                      </label>
                                                      <label for="flexRadioDefault5"
                                                            class="d-flex align-items-center gap-3 custom_border gap-3"
                                                            [ngClass]="Form.get('legalForm')?.value == 'Limited Liability Company (GmbH)' ? 'active' : ''">
                                                            <input type="radio" class="cutom_radio_input"
                                                                  formControlName="legalForm"
                                                                  value="Limited Liability Company (GmbH)"
                                                                  id="flexRadioDefault5" />
                                                            <div class="d-grid">
                                                                  <span class=" ct_fw_500">
                                                                        {{'LimitedLiabilityCompany' | translate}}
                                                                  </span>
                                                            </div>
                                                      </label>
                                                      <label for="flexRadioDefault6"
                                                            class="d-flex align-items-center gap-3 custom_border gap-3"
                                                            [ngClass]="Form.get('legalForm')?.value == 'Corporation (AG)' ? 'active' : ''">
                                                            <input type="radio" class="cutom_radio_input"
                                                                  formControlName="legalForm" value="Corporation (AG)"
                                                                  id="flexRadioDefault6" />
                                                            <div class="d-grid">
                                                                  <span class=" ct_fw_500">
                                                                        {{'Corporation' | translate}}
                                                                  </span>
                                                            </div>
                                                      </label>
                                                </div>
                                          </div>
                                          <div class="form-group mb-4">
                                                <label for="" class="mb-2 ct_fw_600 ">{{'CompanyName' |
                                                      translate}}</label>
                                                <input type="text" class="form-control ct_input"
                                                      placeholder="{{'Enter' | translate}} {{'CompanyName' | translate | lowercase}}"
                                                      formControlName="companyName">
                                                <small class="text-danger">{{validationErrorService.getErrorMessage("Company
                                                      Name", Form.get("companyName"))}}</small>
                                          </div>
                                          <div class="form-group mb-4">
                                                <label for="" class="mb-2 ct_fw_600 ">
                                                      {{'VAT' | translate}} <span class="ct_fw_400">({{'Optional' |
                                                            translate}})</span></label>
                                                <input type="text" class="form-control ct_input"
                                                      placeholder="{{'Enter' | translate}} {{'VAT' | translate}}"
                                                      formControlName="vat">
                                                <small class="text-danger">{{validationErrorService.getErrorMessage("VAT/businessRegistration
                                                      Number", Form.get("vat"))}}</small>
                                          </div>
                                          <div class="form-group mb-4">
                                                <label for="" class="mb-2 ct_fw_600 ">{{'CompanyAddress' |
                                                      translate}}</label>
                                                <textarea type="text" class="form-control ct_input h-auto"
                                                      placeholder="{{'Enter' | translate}} {{'CompanyAddress' | translate | lowercase}}"
                                                      formControlName="companyAddress"></textarea>
                                                <small class="text-danger">{{validationErrorService.getErrorMessage("Company
                                                      address", Form.get("companyAddress"))}}</small>
                                          </div>
                                          <div class="form-group mb-4">
                                                <label for="" class="mb-2 ct_fw_600 ">
                                                      {{'City' | translate}}</label>
                                                <input type="text" class="form-control ct_input"
                                                      placeholder="{{'Enter' | translate}} {{'City' | translate | lowercase}}"
                                                      formControlName="city">
                                                <small class="text-danger">{{validationErrorService.getErrorMessage("City",
                                                      Form.get("city"))}}</small>
                                          </div>
                                          <div class="form-group mb-4">
                                                <label for="" class="mb-2 ct_fw_600 ">
                                                      {{'Pincode' | translate}}</label>
                                                <input type="text" class="form-control ct_input"
                                                      placeholder="{{'Enter' | translate}} {{'Pincode' | translate | lowercase}}"
                                                      formControlName="pincode">
                                                <small class="text-danger">{{validationErrorService.getErrorMessage("Pincode",
                                                      Form.get("pincode"))}}</small>
                                          </div>
                                    </ng-container>
                                    <div class="text-center mt-4">
                                          <button class="ct_red_btn">{{'SaveChanges' | translate}}</button>
                                    </div>
                              </form>
                        </div>
                  </div>
            </div>
      </div>
</section>