.mobile-frame {
      /* width: 280px; */
      height: 500px;
      border-radius: 10px;
      position: relative;
      overflow: hidden;
      margin: 0 auto;
}

.videoPreview {
      width: 100%;
      height: 100%;
      object-fit: cover;
}


.videoPreview {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-color: #e6e6e6;
}