<section class="ct_py_70">
      <div class="container">
            <div class="row">
                  <div class="col-md-8 mx-auto">
                        <div class="ct_light_red_bg">
                              <h5 class="ct_fs_20 ct_fw_600">15 Slots Bundle</h5>
                              <p class="mb-0">CHF 449.25 / month</p>
                        </div>

                        <div class="mt-4 ct_outline_bg ">
                              <h4 class="ct_fs_20 ct_fw_600 mb-3"><i class="fa-solid fa-calendar me-1"></i>Slots & Plan
                                    Details</h4>
                              <ul class="ct_plan_detail_list">
                                    <li>
                                          <p class="mb-0">Valid Till</p>
                                          <p class="mb-0 ct_fw_600">14 May 2025</p>
                                    </li>
                                    <li>
                                          <p class="mb-0">Cars Listed</p>
                                          <p class="mb-0 ct_fw_600">11 / 15</p>
                                    </li>
                                    <li>
                                          <p class="mb-0">Cars Swapped</p>
                                          <p class="mb-0 ct_fw_600">2 this month</p>
                                    </li>
                                    <li>
                                          <p class="mb-0">Days Left</p>
                                          <p class="mb-0 ct_fw_600">17 days</p>
                                    </li>
                              </ul>

                        </div>

                  </div>

            </div>

      </div>
</section>