<section class="ct_py_70">
      <div class="container">
            <div class="row">
                  <div class="col-md-8 mx-auto">
                        <div class="ct_success_ful_bg">
                              <img src="img/failed.png" alt="">
                              <h4 class="ct_fs_28 ct_fw_700 mb-2 text-center">Payment Failed</h4>
                              <p class="mb-0 text-center ct_text_op_6">Your payment failed. Please try again.
                              </p>

                              <div class="d-flex justify-content-center gap-2 align-items-center mt-4">
                                    <a href="index.html" class="ct_red_btn">Back to Home</a>
                                    <a href="index.html" class="ct_red_btn">Try Again</a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</section>