<section class="ct_py_70">
      <div class="container">
            <div class="row">
                  <div class="col-md-8 mx-auto">
                        <div class="ct_rejected_icon">
                              <img src="img/rejected.gif" alt="">
                              <div>
                                    <h4 class="ct_fs_24 ct_fw_600 mb-2 text-center">Application Rejected</h4>
                                    <p class="mb-0 ct_text_op_6 text-center">We apologize, but we couldn't approve your
                                          application at this time</p>
                              </div>
                        </div>

                        <div class="mt-4 ct_outline_bg ">
                              <ul class="ct_plan_detail_list">
                                    <li>
                                          <p class="mb-0">Number of Additional Slots</p>
                                          <p class="mb-0 ct_fw_600">32</p>
                                    </li>
                                    <li>
                                          <p class="mb-0">Rejected On</p>
                                          <p class="mb-0 ct_fw_600">Feb 15, 2024 • 14:30</p>
                                    </li>
                                    <li>
                                          <p class="mb-0">Status</p>
                                          <p class="mb-0 ct_fw_600 ct_text_red">Rejected</p>
                                    </li>

                              </ul>

                        </div>

                  </div>

            </div>

      </div>
</section>