<section class="ct_py_70">
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <div class="ct_search mb-4 position-relative">
                              <input type="search" class="form-control ct_input" placeholder="Search your listings...">
                              <i class="fa-solid fa-search ct_show_eye"></i>
                        </div>
                        <ul class="nav nav-pills mb-3 ct_custom_tabs" id="pills-tab" role="tablist">
                              <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="pills-All-tab" data-bs-toggle="pill"
                                          data-bs-target="#pills-All" type="button" role="tab" aria-controls="pills-All"
                                          aria-selected="true">All</button>
                              </li>
                              <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-Active-tab" data-bs-toggle="pill"
                                          data-bs-target="#pills-Active" type="button" role="tab"
                                          aria-controls="pills-Active" aria-selected="false"
                                          tabindex="-1">Active</button>
                              </li>
                              <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-Expired-tab" data-bs-toggle="pill"
                                          data-bs-target="#pills-Expired" type="button" role="tab"
                                          aria-controls="pills-Expired" aria-selected="false"
                                          tabindex="-1">Expired</button>
                              </li>

                        </ul>

                        <div class="tab-content pt-4" id="pills-tabContent">
                              <div class="tab-pane fade active show" id="pills-All" role="tabpanel"
                                    aria-labelledby="pills-All-tab">
                                    <div class="row">
                                          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 mb-4">
                                                <div class="ct_browse_car_card">
                                                      <figure class="mb-0">
                                                            <div class="ct_browse_card_img">
                                                                  <img src="img/car-1.png" alt="">
                                                                  <div class="ct_status_badge"
                                                                        style="background-color: var(--red); color: #fff;">
                                                                        <p class="mb-0">Expired</p>

                                                                  </div>
                                                            </div>
                                                            <figcaption class="mt-3">
                                                                  <span class="ct_fs_16 ct_fw_700 mb-2 ct_text_red">CHF
                                                                        45,900</span>
                                                                  <a routerLink="/car-detail"
                                                                        class="ct_fs_24 ct_fw_700 d-block">Mercedes-Benz
                                                                        C-Class</a>
                                                                  <ul>
                                                                        <li>
                                                                              <small
                                                                                    class="ct_text_op_6 ct_fw_600">Translation</small>
                                                                              <p class="mb-0 ct_fs_16 ct_fw_600">
                                                                                    Automatic</p>
                                                                        </li>
                                                                        <li>
                                                                              <small class="ct_text_op_6 ct_fw_600">Fuel
                                                                                    Type</small>
                                                                              <p class="mb-0 ct_fs_16 ct_fw_600">
                                                                                    Electric</p>
                                                                        </li>
                                                                        <li>
                                                                              <small
                                                                                    class="ct_text_op_6 ct_fw_600">Passenger</small>
                                                                              <p class="mb-0 ct_fs_16 ct_fw_600">03
                                                                                    Person</p>
                                                                        </li>
                                                                  </ul>
                                                                  <div class="mt-4">
                                                                        <a routerLink="/car-detail"
                                                                              class="ct_red_btn w-100 text-center">View
                                                                              More</a>
                                                                  </div>
                                                            </figcaption>

                                                      </figure>

                                                </div>

                                          </div>
                                          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 mb-4">
                                                <div class="ct_browse_car_card">
                                                      <figure class="mb-0">
                                                            <div class="ct_browse_card_img">
                                                                  <img src="img/car-1.png" alt="">
                                                                  <div class="ct_status_badge"
                                                                        style="background-color: #54b705; color: #fff;">
                                                                        <p class="mb-0">Active</p>

                                                                  </div>
                                                            </div>
                                                            <figcaption class="mt-3">
                                                                  <span class="ct_fs_16 ct_fw_700 mb-2 ct_text_red">CHF
                                                                        45,900</span>
                                                                  <a routerLink="/car-detail"
                                                                        class="ct_fs_24 ct_fw_700 d-block">Mercedes-Benz
                                                                        C-Class</a>
                                                                  <ul>
                                                                        <li>
                                                                              <small
                                                                                    class="ct_text_op_6 ct_fw_600">Translation</small>
                                                                              <p class="mb-0 ct_fs_16 ct_fw_600">
                                                                                    Automatic</p>
                                                                        </li>
                                                                        <li>
                                                                              <small class="ct_text_op_6 ct_fw_600">Fuel
                                                                                    Type</small>
                                                                              <p class="mb-0 ct_fs_16 ct_fw_600">
                                                                                    Electric</p>
                                                                        </li>
                                                                        <li>
                                                                              <small
                                                                                    class="ct_text_op_6 ct_fw_600">Passenger</small>
                                                                              <p class="mb-0 ct_fs_16 ct_fw_600">03
                                                                                    Person</p>
                                                                        </li>
                                                                  </ul>
                                                                  <div class="mt-4">
                                                                        <a routerLink="/car-detail"
                                                                              class="ct_red_btn w-100 text-center">View
                                                                              More</a>
                                                                  </div>
                                                            </figcaption>

                                                      </figure>

                                                </div>

                                          </div>
                                          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 mb-4">
                                                <div class="ct_browse_car_card">
                                                      <figure class="mb-0">
                                                            <div class="ct_browse_card_img">
                                                                  <img src="img/car-1.png" alt="">
                                                                  <div class="ct_status_badge"
                                                                        style="background-color: var(--red); color: #fff;">
                                                                        <p class="mb-0">Expired</p>

                                                                  </div>
                                                            </div>
                                                            <figcaption class="mt-3">
                                                                  <span class="ct_fs_16 ct_fw_700 mb-2 ct_text_red">CHF
                                                                        45,900</span>
                                                                  <a routerLink="/car-detail"
                                                                        class="ct_fs_24 ct_fw_700 d-block">Mercedes-Benz
                                                                        C-Class</a>
                                                                  <ul>
                                                                        <li>
                                                                              <small
                                                                                    class="ct_text_op_6 ct_fw_600">Translation</small>
                                                                              <p class="mb-0 ct_fs_16 ct_fw_600">
                                                                                    Automatic</p>
                                                                        </li>
                                                                        <li>
                                                                              <small class="ct_text_op_6 ct_fw_600">Fuel
                                                                                    Type</small>
                                                                              <p class="mb-0 ct_fs_16 ct_fw_600">
                                                                                    Electric</p>
                                                                        </li>
                                                                        <li>
                                                                              <small
                                                                                    class="ct_text_op_6 ct_fw_600">Passenger</small>
                                                                              <p class="mb-0 ct_fs_16 ct_fw_600">03
                                                                                    Person</p>
                                                                        </li>
                                                                  </ul>
                                                                  <div class="mt-4">
                                                                        <a routerLink="/car-detail"
                                                                              class="ct_red_btn w-100 text-center">View
                                                                              More</a>
                                                                  </div>
                                                            </figcaption>

                                                      </figure>

                                                </div>

                                          </div>
                                    </div>
                              </div>
                              <div class="tab-pane fade" id="pills-Active" role="tabpanel"
                                    aria-labelledby="pills-Active-tab">
                                    <div class="row">
                                          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 mb-4">
                                                <div class="ct_browse_car_card">
                                                      <figure class="mb-0">
                                                            <div class="ct_browse_card_img">
                                                                  <img src="img/car-1.png" alt="">
                                                                  <div class="ct_status_badge"
                                                                        style="background-color: #54b705; color: #fff;">
                                                                        <p class="mb-0">Active</p>

                                                                  </div>
                                                            </div>
                                                            <figcaption class="mt-3">
                                                                  <span class="ct_fs_16 ct_fw_700 mb-2 ct_text_red">CHF
                                                                        45,900</span>
                                                                  <a routerLink="/car-detail"
                                                                        class="ct_fs_24 ct_fw_700 d-block">Mercedes-Benz
                                                                        C-Class</a>
                                                                  <ul>
                                                                        <li>
                                                                              <small
                                                                                    class="ct_text_op_6 ct_fw_600">Translation</small>
                                                                              <p class="mb-0 ct_fs_16 ct_fw_600">
                                                                                    Automatic</p>
                                                                        </li>
                                                                        <li>
                                                                              <small class="ct_text_op_6 ct_fw_600">Fuel
                                                                                    Type</small>
                                                                              <p class="mb-0 ct_fs_16 ct_fw_600">
                                                                                    Electric</p>
                                                                        </li>
                                                                        <li>
                                                                              <small
                                                                                    class="ct_text_op_6 ct_fw_600">Passenger</small>
                                                                              <p class="mb-0 ct_fs_16 ct_fw_600">03
                                                                                    Person</p>
                                                                        </li>
                                                                  </ul>
                                                                  <div class="mt-4">
                                                                        <a routerLink="/car-detail"
                                                                              class="ct_red_btn w-100 text-center">View
                                                                              More</a>
                                                                  </div>
                                                            </figcaption>

                                                      </figure>

                                                </div>

                                          </div>
                                          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 mb-4">
                                                <div class="ct_browse_car_card">
                                                      <figure class="mb-0">
                                                            <div class="ct_browse_card_img">
                                                                  <img src="img/car-1.png" alt="">
                                                                  <div class="ct_status_badge"
                                                                        style="background-color: #54b705; color: #fff;">
                                                                        <p class="mb-0">Active</p>

                                                                  </div>
                                                            </div>
                                                            <figcaption class="mt-3">
                                                                  <span class="ct_fs_16 ct_fw_700 mb-2 ct_text_red">CHF
                                                                        45,900</span>
                                                                  <a routerLink="/car-detail"
                                                                        class="ct_fs_24 ct_fw_700 d-block">Mercedes-Benz
                                                                        C-Class</a>
                                                                  <ul>
                                                                        <li>
                                                                              <small
                                                                                    class="ct_text_op_6 ct_fw_600">Translation</small>
                                                                              <p class="mb-0 ct_fs_16 ct_fw_600">
                                                                                    Automatic</p>
                                                                        </li>
                                                                        <li>
                                                                              <small class="ct_text_op_6 ct_fw_600">Fuel
                                                                                    Type</small>
                                                                              <p class="mb-0 ct_fs_16 ct_fw_600">
                                                                                    Electric</p>
                                                                        </li>
                                                                        <li>
                                                                              <small
                                                                                    class="ct_text_op_6 ct_fw_600">Passenger</small>
                                                                              <p class="mb-0 ct_fs_16 ct_fw_600">03
                                                                                    Person</p>
                                                                        </li>
                                                                  </ul>
                                                                  <div class="mt-4">
                                                                        <a routerLink="/car-detail"
                                                                              class="ct_red_btn w-100 text-center">View
                                                                              More</a>
                                                                  </div>
                                                            </figcaption>

                                                      </figure>

                                                </div>

                                          </div>
                                          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 mb-4">
                                                <div class="ct_browse_car_card">
                                                      <figure class="mb-0">
                                                            <div class="ct_browse_card_img">
                                                                  <img src="img/car-1.png" alt="">
                                                                  <div class="ct_status_badge"
                                                                        style="background-color: #54b705; color: #fff;">
                                                                        <p class="mb-0">Active</p>

                                                                  </div>
                                                            </div>
                                                            <figcaption class="mt-3">
                                                                  <span class="ct_fs_16 ct_fw_700 mb-2 ct_text_red">CHF
                                                                        45,900</span>
                                                                  <a routerLink="/car-detail"
                                                                        class="ct_fs_24 ct_fw_700 d-block">Mercedes-Benz
                                                                        C-Class</a>
                                                                  <ul>
                                                                        <li>
                                                                              <small
                                                                                    class="ct_text_op_6 ct_fw_600">Translation</small>
                                                                              <p class="mb-0 ct_fs_16 ct_fw_600">
                                                                                    Automatic</p>
                                                                        </li>
                                                                        <li>
                                                                              <small class="ct_text_op_6 ct_fw_600">Fuel
                                                                                    Type</small>
                                                                              <p class="mb-0 ct_fs_16 ct_fw_600">
                                                                                    Electric</p>
                                                                        </li>
                                                                        <li>
                                                                              <small
                                                                                    class="ct_text_op_6 ct_fw_600">Passenger</small>
                                                                              <p class="mb-0 ct_fs_16 ct_fw_600">03
                                                                                    Person</p>
                                                                        </li>
                                                                  </ul>
                                                                  <div class="mt-4">
                                                                        <a routerLink="/car-detail"
                                                                              class="ct_red_btn w-100 text-center">View
                                                                              More</a>
                                                                  </div>
                                                            </figcaption>

                                                      </figure>

                                                </div>

                                          </div>

                                    </div>
                              </div>
                              <div class="tab-pane fade" id="pills-Expired" role="tabpanel"
                                    aria-labelledby="pills-Expired-tab">
                                    <div class="row">
                                          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 mb-4">
                                                <div class="ct_browse_car_card">
                                                      <figure class="mb-0">
                                                            <div class="ct_browse_card_img">
                                                                  <img src="img/car-1.png" alt="">
                                                                  <div class="ct_status_badge"
                                                                        style="background-color: var(--red); color: #fff;">
                                                                        <p class="mb-0">Expired</p>

                                                                  </div>
                                                            </div>
                                                            <figcaption class="mt-3">
                                                                  <span class="ct_fs_16 ct_fw_700 mb-2 ct_text_red">CHF
                                                                        45,900</span>
                                                                  <a routerLink="/car-detail"
                                                                        class="ct_fs_24 ct_fw_700 d-block">Mercedes-Benz
                                                                        C-Class</a>
                                                                  <ul>
                                                                        <li>
                                                                              <small
                                                                                    class="ct_text_op_6 ct_fw_600">Translation</small>
                                                                              <p class="mb-0 ct_fs_16 ct_fw_600">
                                                                                    Automatic</p>
                                                                        </li>
                                                                        <li>
                                                                              <small class="ct_text_op_6 ct_fw_600">Fuel
                                                                                    Type</small>
                                                                              <p class="mb-0 ct_fs_16 ct_fw_600">
                                                                                    Electric</p>
                                                                        </li>
                                                                        <li>
                                                                              <small
                                                                                    class="ct_text_op_6 ct_fw_600">Passenger</small>
                                                                              <p class="mb-0 ct_fs_16 ct_fw_600">03
                                                                                    Person</p>
                                                                        </li>
                                                                  </ul>
                                                                  <div class="mt-4">
                                                                        <a routerLink="/car-detail"
                                                                              class="ct_red_btn w-100 text-center">View
                                                                              More</a>
                                                                  </div>
                                                            </figcaption>

                                                      </figure>

                                                </div>

                                          </div>
                                          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 mb-4">
                                                <div class="ct_browse_car_card">
                                                      <figure class="mb-0">
                                                            <div class="ct_browse_card_img">
                                                                  <img src="img/car-1.png" alt="">
                                                                  <div class="ct_status_badge"
                                                                        style="background-color: var(--red); color: #fff;">
                                                                        <p class="mb-0">Expired</p>

                                                                  </div>
                                                            </div>
                                                            <figcaption class="mt-3">
                                                                  <span class="ct_fs_16 ct_fw_700 mb-2 ct_text_red">CHF
                                                                        45,900</span>
                                                                  <a routerLink="/car-detail"
                                                                        class="ct_fs_24 ct_fw_700 d-block">Mercedes-Benz
                                                                        C-Class</a>
                                                                  <ul>
                                                                        <li>
                                                                              <small
                                                                                    class="ct_text_op_6 ct_fw_600">Translation</small>
                                                                              <p class="mb-0 ct_fs_16 ct_fw_600">
                                                                                    Automatic</p>
                                                                        </li>
                                                                        <li>
                                                                              <small class="ct_text_op_6 ct_fw_600">Fuel
                                                                                    Type</small>
                                                                              <p class="mb-0 ct_fs_16 ct_fw_600">
                                                                                    Electric</p>
                                                                        </li>
                                                                        <li>
                                                                              <small
                                                                                    class="ct_text_op_6 ct_fw_600">Passenger</small>
                                                                              <p class="mb-0 ct_fs_16 ct_fw_600">03
                                                                                    Person</p>
                                                                        </li>
                                                                  </ul>
                                                                  <div class="mt-4">
                                                                        <a routerLink="/car-detail"
                                                                              class="ct_red_btn w-100 text-center">View
                                                                              More</a>
                                                                  </div>
                                                            </figcaption>

                                                      </figure>

                                                </div>

                                          </div>
                                          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 mb-4">
                                                <div class="ct_browse_car_card">
                                                      <figure class="mb-0">
                                                            <div class="ct_browse_card_img">
                                                                  <img src="img/car-1.png" alt="">
                                                                  <div class="ct_status_badge"
                                                                        style="background-color: var(--red); color: #fff;">
                                                                        <p class="mb-0">Expired</p>

                                                                  </div>
                                                            </div>
                                                            <figcaption class="mt-3">
                                                                  <span class="ct_fs_16 ct_fw_700 mb-2 ct_text_red">CHF
                                                                        45,900</span>
                                                                  <a routerLink="/car-detail"
                                                                        class="ct_fs_24 ct_fw_700 d-block">Mercedes-Benz
                                                                        C-Class</a>
                                                                  <ul>
                                                                        <li>
                                                                              <small
                                                                                    class="ct_text_op_6 ct_fw_600">Translation</small>
                                                                              <p class="mb-0 ct_fs_16 ct_fw_600">
                                                                                    Automatic</p>
                                                                        </li>
                                                                        <li>
                                                                              <small class="ct_text_op_6 ct_fw_600">Fuel
                                                                                    Type</small>
                                                                              <p class="mb-0 ct_fs_16 ct_fw_600">
                                                                                    Electric</p>
                                                                        </li>
                                                                        <li>
                                                                              <small
                                                                                    class="ct_text_op_6 ct_fw_600">Passenger</small>
                                                                              <p class="mb-0 ct_fs_16 ct_fw_600">03
                                                                                    Person</p>
                                                                        </li>
                                                                  </ul>
                                                                  <div class="mt-4">
                                                                        <a routerLink="/car-detail"
                                                                              class="ct_red_btn w-100 text-center">View
                                                                              More</a>
                                                                  </div>
                                                            </figcaption>

                                                      </figure>

                                                </div>

                                          </div>
                                    </div>
                              </div>

                        </div>

                  </div>

            </div>

      </div>
</section>