<section class="ct_py_70">
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <div class="ct_edit_profile_bg">
                              <div class="ct_slot_icon">
                                    <img src="img/check_slot.svg" alt="">
                              </div>
                              <div class="text-center">
                                    <h4 class="ct_fs_20 ct_fw_600 mb-1">Need More Slots?</h4>
                                    <p class="mb-0">Request additional posting slots for your business</p>
                              </div>

                              <form action="" class="mt-4">
                                    <div class="form-group mb-4">
                                          <label for="" class="ct_fw_600 mb-2">Number of Additional Slots</label>
                                          <input type="text" class="form-control ct_input"
                                                placeholder="Enter number of slots (e.g., 32)">
                                    </div>
                                    <div class="form-group mb-4">
                                          <label for="" class="ct_fw_600 mb-2">Message to Admin (Optional)</label>
                                          <textarea type="text" class="form-control ct_input h-auto"
                                                placeholder="Write here..." rows="4"></textarea>
                                    </div>

                                    <div class="ct_info_box mt-3">
                                          <p class="mb-0"><i class="fa-solid fa-circle-info"></i> Requests are typically
                                                reviewed within 24-48
                                                hours. You'll receive a notification once approved.</p>
                                    </div>
                                    <div class="text-center mt-5">
                                          <button class="ct_red_btn">Submit Request</button>
                                    </div>
                              </form>
                        </div>
                  </div>
            </div>
      </div>
</section>