<section class="ct_login_main_bg">
      <div class="container">
            <div class="row">
                  <div class="col-xxl-6 col-xl-7 col-lg-8 mx-auto">
                        <div class="ct_login_white_bg ct_custom_scroll">
                              <img src="img/carzone_logo_black.png" alt="">
                              <h4 class="ct_fw_700 ct_fs_28 text-white text-center mb-3">{{'ResetPassword' | translate}}
                              </h4>
                              <form [formGroup]="Form" (ngSubmit)="onSubmit()">
                                    <div class="form-group mb-4">
                                          <label for="" class="mb-2 ct_fw_600 text-white">{{'NewPassword' |
                                                translate}}</label>
                                          <div class="position-relative">
                                                <input [type]="isShowNewPassword ? 'text' : 'password'"
                                                      class="form-control ct_input"
                                                      placeholder="{{'Enter' | translate}} {{'NewPassword' | translate | lowercase}}"
                                                      formControlName="newPassword">
                                                <i class="fa-solid ct_show_eye"
                                                      [ngClass]="isShowNewPassword ? 'fa-eye' : 'fa-eye-slash'"
                                                      (click)="isShowNewPassword = !isShowNewPassword"></i>
                                          </div>
                                          <small class="text-danger">{{validationErrorService.getErrorMessage(('NewPassword'
                                                | translate), Form.get("newPassword"))}}</small>
                                    </div>
                                    <div class="form-group mb-4">
                                          <label for="" class="mb-2 ct_fw_600 text-white">{{'ConfirmPassword' |
                                                translate}}</label>
                                          <div class="position-relative">
                                                <input [type]="isShowConfPassword ? 'text' : 'password'"
                                                      class="form-control ct_input"
                                                      placeholder="{{'Enter' | translate}} {{'ConfirmPassword' | translate | lowercase}}"
                                                      formControlName="confirmPassword">
                                                <i class="fa-solid ct_show_eye"
                                                      [ngClass]="isShowConfPassword ? 'fa-eye' : 'fa-eye-slash'"
                                                      (click)="isShowConfPassword = !isShowConfPassword"></i>
                                          </div>
                                          <small class="text-danger">{{validationErrorService.getErrorMessage(('ConfirmPassword'
                                                | translate), Form.get("confirmPassword"))}}</small>
                                          <small *ngIf="Form.errors?.['passwordMismatch'] && !Form.controls['confirmPassword'].errors?.['required']"
                                                class="text-danger">{{'passwordNotMatch' | translate}}</small>
                                    </div>
                                    <div class="text-center mt-4">
                                          <app-submit-button [isLoading]="loading" [text]="'Reset'"
                                                [class]="'ct_red_btn px-5'"></app-submit-button>
                                    </div>
                              </form>
                        </div>
                  </div>
            </div>
      </div>
</section>