<div class="modal fade modal-md ct_login_bg" id="ct_login_modal" tabindex="-1" aria-labelledby="ct_login_modalLabel"
      aria-hidden="true" data-bs-target="#staticBackdr">
      <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                  <div class="modal-body pb-4">
                        <img src="img/carzone_logo_black.png" alt="" class="mb-4 mx-auto d-block logo_image">
                        <h5 class="ct_fs_20 ct_fw_600 text-white text-center">Choose your role to continue</h5>
                        <div class="row mt-5">
                              <div class="col-sm-6 mb-4 mb-sm-0">
                                    <a (click)="switchRole('buyer')" class="ct_login_author_card"
                                          data-bs-dismiss="modal">
                                          <img src="img/buyer_icon.svg" alt="">
                                          <h6 class="mb-0 ct_fs_20 ct_fw_600">Buyer</h6>
                                    </a>
                              </div>
                              <div class="col-sm-6 mb-4 mb-sm-0">
                                    <a (click)="switchRole('seller')" class="ct_login_author_card"
                                          data-bs-dismiss="modal">
                                          <img src="img/seller_login_icon.svg" alt="">
                                          <h6 class="mb-0 ct_fs_20 ct_fw_600">Seller</h6>
                                    </a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>