<footer class="ct_footer_bg">
      <div class="container">
            <div class="row">
                  <div class="col-lg-4 col-md-12 mb-4">
                        <div class="ct_footer_info">
                              <a routerLink="/" class="ct_footer_logo">
                                    <img src="img/carzone_logo_black.png" alt="">
                              </a>
                              <p class="mb-0 text-white">
                                    {{'FooterDescription' | translate}}
                              </p>
                        </div>
                  </div>
                  <ng-container *appRole="'buyer'">
                        <div class="col-lg-4 col-md-4 mb-4">
                              <div class="ct_menu_item">
                                    <h4 class="ct_fs_20 ct_fw_600 text-white ct_ff_Epilogue mb-4">{{'BuySell' |
                                          translate}}</h4>
                                    <ul>
                                          <li>
                                                <a routerLink="/">{{'BrowseCars' | translate}}</a>
                                          </li>
                                          <li>
                                                <a routerLink="/reels">{{'Reels' | translate}} </a>
                                          </li>
                                          <li>
                                                <a routerLink="/wishlist">{{'Wishlist' | translate}}</a>
                                          </li>
                                    </ul>
                              </div>
                        </div>
                  </ng-container>
                  <ng-container *appRole="'seller'">
                        <div class="col-lg-4 col-md-4 mb-4">
                              <div class="ct_menu_item">
                                    <h4 class="ct_fs_20 ct_fw_600 text-white ct_ff_Epilogue mb-4">{{'MenuLinks' |
                                          translate}}</h4>
                                    <ul>
                                          <li>
                                                <a routerLink="/">{{'Home' | translate}}</a>
                                          </li>
                                          <li>
                                                <a routerLink="/my-listings">{{'MyListings' | translate}}</a>
                                          </li>
                                          <li>
                                                <a routerLink="/listing-slot-plan">{{'ListingSlotsPlan' |
                                                      translate}}</a>
                                          </li>

                                    </ul>
                              </div>
                        </div>
                  </ng-container>
                  <div class="col-lg-4 col-md-4 mb-4">
                        <div class="ct_menu_item">
                              <h4 class="ct_fs_20 ct_fw_600 text-white ct_ff_Epilogue mb-4">{{'Legal' | translate}}</h4>
                              <ul>
                                    <li>
                                          <a routerLink="/contact-us">{{'ContactUs' | translate}}</a>
                                    </li>
                                    <li>
                                          <a routerLink="/terms-conditions">{{'TermsAndConditions' | translate}}</a>
                                    </li>
                                    <li>
                                          <a routerLink="/privacy-policy">{{'PrivacyPolicy' | translate}}</a>
                                    </li>
                              </ul>
                        </div>
                  </div>
            </div>
      </div>
</footer>