<footer class="ct_footer_bg">
      <div class="container">
            <div class="row">
                  <div class="col-lg-4 col-md-12 mb-4">
                        <div class="ct_footer_info">
                              <a routerLink="/" class="ct_footer_logo">
                                    <img src="img/logo_white.svg" alt="">
                              </a>
                              <p class="mb-0 text-white">CarZone is a modern platform to buy and sell cars easily.
                                    Connect with trusted buyers and sellers, chat in-app, and close deals seamlessly.
                              </p>
                        </div>
                  </div>
                  <ng-container *appRole="'buyer'">
                        <div class="col-lg-4 col-md-4 mb-4">
                              <div class="ct_menu_item">
                                    <h4 class="ct_fs_20 ct_fw_600 text-white ct_ff_Epilogue mb-4">Buy & Sell</h4>
                                    <ul>
                                          <li>
                                                <a routerLink="/browse-cars">Browse Cars</a>
                                          </li>
                                          <li>
                                                <a routerLink="/reels">Reels</a>
                                          </li>
                                          <li>
                                                <a routerLink="/wishlist">Wishlist</a>
                                          </li>
                                    </ul>
                              </div>
                        </div>
                  </ng-container>
                  <ng-container *appRole="'seller'">
                        <div class="col-lg-4 col-md-4 mb-4">
                              <div class="ct_menu_item">
                                    <h4 class="ct_fs_20 ct_fw_600 text-white ct_ff_Epilogue mb-4">Menu Links</h4>
                                    <ul>
                                          <li>
                                                <a routerLink="/">Home</a>
                                          </li>
                                          <li>
                                                <a routerLink="/my-listings">My Listings</a>
                                          </li>
                                          <li>
                                                <a routerLink="/listing-slot-plan">Listing Slots & Plan</a>
                                          </li>

                                    </ul>
                              </div>
                        </div>
                  </ng-container>
                  <div class="col-lg-4 col-md-4 mb-4">
                        <div class="ct_menu_item">
                              <h4 class="ct_fs_20 ct_fw_600 text-white ct_ff_Epilogue mb-4">Legal</h4>
                              <ul>
                                    <li>
                                          <a routerLink="/contact-us">Contact Us</a>
                                    </li>
                                    <li>
                                          <a routerLink="/terms-conditions">Terms & Conditions</a>
                                    </li>
                                    <li>
                                          <a routerLink="/privacy-policy">Privacy Policy</a>
                                    </li>
                              </ul>
                        </div>
                  </div>
            </div>
      </div>
</footer>