<div class="mySwiper swiper">
      <div class="swiper-wrapper">
            @for (item of carReels; track $index) {
            <div class="swiper-slide">
                  <div class="mobile-frame">
                        <video [src]="item.carReel" autoplay playsinline muted="true" loop preload="auto"
                              class="videoPreview">
                              Your browser does not support the video tag.
                        </video>
                  </div>
            </div>
            }
      </div>
</div>