<section class="w-100 mx-auto" style="max-width: 800px;">
      <div class="ct_back_btn text-white" style="cursor: pointer;" (click)="location.back()">
            <i class="fa-solid fa-arrow-left"></i>Back
      </div>
      <div class="mySwiper swiper">
            <div class="swiper-wrapper">
                  @for (item of carReels; track $index) {
                  @if(item.carReel){
                  <div class="swiper-slide">
                        <div class="mobile-frame">
                              <video #video [src]="item.carReel" autoplay loop preload="none" class="videoPreview">
                              </video>
                              <div class="playOverlay" (click)="togglePlay(video)">
                                    <div class="ct_play_icon" [ngClass]="isPlaying ? 'invisible' : 'visible'">
                                          <i class="fa-solid" [ngClass]="isPlaying ? 'fa-pause' : 'fa-play' "></i>
                                    </div>
                              </div>
                              <div
                                    class="d-flex align-items-start justify-content-between gap-3 ct_reel_title_top w-100">
                                    <div>
                                          <p class="mb-0 ct_fw_600 ct_fs_18">{{item.fullModel}}
                                          </p>

                                          <p class="mb-0 ct_fw_500">{{item.carReelInfo}}
                                          </p>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                          <i class="fa-regular fa-eye" routerLink="/car-detail"
                                                [queryParams]="{id: item.id}" style="cursor: pointer;"></i>
                                          <i class="fa-bookmark"
                                                [ngClass]="item.isSavedReel ? 'fa-solid' : 'fa-regular'"
                                                (click)="item.isSavedReel ? removeFromSaved(item) : saveReel(item)"></i>
                                    </div>
                              </div>
                        </div>
                  </div>
                  }
                  }
            </div>
      </div>
</section>